﻿/*body {
    margin: 0px;
    padding: 0px;
    background: #f5f5f5;
    font-family: 'Segoe UI';
}*/
ul.resp-tabs-list/*, p*/ {
    margin: 0px;
	width:100%;
	font-family:'open_sanssemibold';
	font-size: 14px;
    padding: 0px;
}
.resp-tabs-list li.deal{border-right:1px solid #c1c1c1;}
.resp-tabs-list li {
	font-family:'open_sanssemibold';
    /*font-weight: 600;*/
    font-size: 14px;
    display:table-cell /*inline-block*/;
    padding:0/* 13px 15px*/;
    margin: 0;
	width:1%;
	text-align:center;
	/*height:83px;*/
    list-style: none;
    cursor: pointer;
	border: 1px solid #c1c1c1;
	border-bottom:0px; border-right:0px;
	background:url(../images/tabtitlebg.jpg) repeat-x left bottom;
    /*float: left;*/
}
.resp-tabs-list li span{display:none;}
.resp-tabs-list li.resp-tab-active span{position:absolute; bottom:-12px; left:50%; display:block; margin-left:-7px; z-index: 5}
.resp-tabs-list li.resp-tab-active{background:url(../images/tabtitlebg_hover.jpg) repeat-x left bottom;}
.resp-tabs-list li:last-child{border-right:1px solid #C1C1C1 }
.myaccount p{background:url(../images/myaccount.png) no-repeat center 14px; padding-top:57px; padding-bottom:10px; position:relative}
.resp-tab-active.myaccount p{background:url(../images/myaccount_hover.png) no-repeat center 14px!important; color:#0e5180; position:relative}
.payment p{background:url(../images/payment.png) no-repeat center 20px; padding-top:57px; padding-bottom:10px; position:relative}
.resp-tab-active.payment p{background:url(../images/payment_hover.png) no-repeat center 20px; color:#0e5180;}
.business p{background:url(../images/user_logo_hover.png) no-repeat center 16px; padding-top:57px; padding-bottom:10px; position:relative}
.resp-tab-active.business p{background:url(../images/user_logo.png) no-repeat center 16px; color:#0e5180;}
.social p{background:url(../images/social_connections.png) no-repeat center 14px; padding-top:57px; padding-bottom:10px; position:relative}
.resp-tab-active.social p{background:url(../images/social_connections_hover.png) no-repeat center 14px; color:#0e5180;}
.deal p{background:url(../images/deal.png) no-repeat center 15px; padding-top:57px; padding-bottom:10px; position:relative}
.resp-tab-active.deal p{background:url(../images/deal_hover.png) no-repeat center 15px; color:#0e5180;}
.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
    position: relative;
}
.resp-accordion p span{display:none}
h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    /*padding: 15px;*/
}

.resp-tab-active {
    
    border-bottom: none;
    margin-bottom: -1px !important;
    /*padding: 12px 14px 14px 14px !important;*/
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #c1c1c1;
	background:url(../images/tabboxbg.jpg) repeat-x left bottom;
    padding-top: 50px;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
	background:url(../images/tabtitlebg.jpg) repeat-x left bottom;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
	background:url(../images/tabtitlebg_hover.jpg) repeat-x left bottom;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    border: 1px solid #c1c1c1;
    border-right: none;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    /*background: #DBDBDB !important;*/
}
.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1 !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 767px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}
