a.home,a.active.home,a.login,a.vidoe,.textbox,.connect,.create,.loginbtn,.texticonbox input,.createaccount,.textboxarea input,.verify,.textboxarea2 input,.textboxarea1 input,.textboxarea3 input,.textboxarea4 input,.textboxarea5 input,.update,.cancel2,.upgradebtn,.socialiconarea ul li,/*.authorize,.cancel,.paynow*/.cardnumber,.securitycode,.valid .select_box,.textareabox,.creditcard,.promotions a,.check,.webtextbox,.socialiconarea ul li a, .personal_img, .personal_img img, .nextauthorize{position:relative; behavior:url(assets/css/pie.htc);}/*.personal_img*/
.usericon,.passwordicon,.social_textbox input{behavior:url(assets/css/pie.htc);}
.authorize,.cancel{behavior:url(assets/css/pie.htc); position:relative}
.paynow{width:150px; behavior:url(assets/css/pie.htc); position:relative}