@media only screen and (min-width:768px) and (max-width:1023px){
.centerwrap{width:auto;}
.logo{padding-left:15px;}
.topnav{padding-left:50px;}
.header_right{margin-right:15px;}
.top_logo{padding-left:15px; margin-left:15px;}
.findfriends{margin:0 15px;}
.wsearchbg{width:625px}
.textbox{width:360px}
.whitebg{margin-left:15px; margin-right:15px;}
.social_icon{float:none; text-align:center}
.social_icons{padding-right:20px;}
.welcome_text{float:none; text-align:center; width:auto; padding-left:0px;}
.blockdata{width:60%; padding-left:25px;}
.copyright{padding-left:15px;}
.footerlinks{padding-right:15px;}
.lightbox{width:650px; margin-left:-325px;}
.thankyou{width:650px; padding-top:40px; height:300px;}
.thankyou h3{margin-left:40px}
.thankyou h4{margin-left:120px; padding-right:40px;}
.thankyou p{margin-left:120px; padding-right:40px;}

.wowdealbox{width:650px; margin-left:-325px; height: 260px}
.promotionsbox{width:650px; padding-top:40px; height:220px;}
.promotionsbox h3{margin-left:40px}
.promotionsbox p{margin-left:120px; padding-right:40px;}


.welcomebox h3{background:url("../images/lightbox_topbg.jpg") repeat-x scroll left bottom transparent;}
.welcomelightbox{width:650px; margin-left:-325px; height:330px}
.welcomebox{width:650px; height:330px;}
.wsearchlogo img{display:block;}
.mobileweb{padding-left:30px; padding-right:30px; padding-right:30px}
.webaddress{width:495px;}
.webtextbox{width:320px;}
.webaddressbox{padding-top:29px; padding-left:15px;}
.welcomebox p{padding-bottom:18px;}
.check{width:100px; margin-top:30px;}
.close{width:45px;}
.close img{width:100%;}
.closecreatemultiple{width:45px;}
.closecreatemultiple img{width:100%;}
.close_senmailclose{width:45px;}
.close_senmailclose img{width:100%;}

.personalbannerarea{width:auto}
.personal_banner img{width:100%;}
.personal_details{margin-right:3%;}/*5*/
.map{width:360px; height:200px; top:-200px; left:-107px}
.map iframe{width:360px; height:200px;}
.map span{position:absolute; bottom:-11px; left:120px;}

.authorize{padding:0 10px; margin-bottom:10px;}
.cancel{padding:0 10px}
div.jquery-gdakram-tooltip div.content{width:250px;}
div.jquery-gdakram-tooltip p{font-size:12px; line-height:18px;}
div.jquery-gdakram-tooltip ul li{font-size:12px; line-height:18px;}
/*div.jquery-gdakram-tooltip div.down_arrow{background:url(../images/dropdownimg.png) 150px 0 no-repeat;}*/
.resp-tabs-container{border-top: 1px solid #C1C1C1;}
.resp-tab-content{padding-top: 0px!important;}

.alert-success, .info{padding-top: 12px;}

.toptext{text-align: center;}
.toptext h3{float: none; display: inline;}
.toptext h5{float: none; display: inline-block;}


.alert {
padding-top: 30px;
margin-bottom: -30px;
padding-left: 30px;
padding-right: 30px;

}
.sendmassagebg{width:650px; margin-left:-325px; margin-top:0px; top:5%}
.sendbox{width:650px;}
.round_corner{margin-top: 25px;padding: 6px;width: 69%;}


}

@media only screen and (min-width:481px) and (max-width:767px){
.centerwrap{width:auto;}		
.whitebg{margin-left:15px; margin-right:15px;}
.social_icon{float:none; text-align:center}
.welcome_text{float:none; text-align:center; width:auto; padding-left:0px; padding-right:20px;}
.blockimg{width:30%; padding-top:10%;}
.blockimg img{width:100%;}
.blockdata{width:58%; padding-left:5%; padding-top:16%}
.welcome_text p{font-size:24px; line-height:40px;}
.tag{top:5%;}
.title{width:55%; font-size:24px;}

.authorize{width:100%; margin-bottom:10px; padding:0px; text-align: center;}
.socialdetails{ padding:3% 2% 0}
.cancel{width:100%; padding: 0px; text-align: center;}.
.dealhere .cancel{width:auto!important; padding: 0 25px; display: inline; margin-right: 12px; float: left;}
.delete_social{width:100%; padding: 0px; text-align: center; margin-top: 10px;}
.social_textbox input{width:93%}
.socialiconarea ul li{margin-bottom:20px; margin-right:20px;}
.footerlinks{font-size:14px; float:none; text-align:center; background-color:#1b1b1b; line-height:36px;}
footer{background-color:transparent;}
.copyright{font-size:12px; text-align:center; float:none; line-height:25px;}
.logo{padding-left:12px; padding-top:14px; width:152px;}
.logo img{width:100%;}
.topnav{float:right; padding-right:11px; padding-left:0px; padding-top:18px;}
.topnav ul li{font-size:18px;}

.toplinks_left{padding-top:12px;}
.loginbox{top:37px; right:-65px;}
.toparrow{right:76px}
a.home{width:23px; height:auto}
a.home span{margin:0px;}
a.vidoe{width:28px; height:auto; background-color:transparent}
a.vidoe span{margin:0px;}
a.login{width:23px; height:auto; background-color:transparent}
a.login span{margin:0px;}
a.logoutclass{width:23px; height:auto; background-color:transparent}
a.logoutclass span{margin:0px;}

.bluebg{background-color:#0E64A8; height:45px;}
.header_right{float:right; padding-right:11px;}
a.active.home, a:hover.home, a.active.login, a.login:hover,a.active.vidoe,a:hover.vidoe{background-color:transparent;}
.top_logo{height:24px; padding-left:9px; margin-top:12px; padding-top:3px; margin-left:9px; border-left:1px solid #3794de}
.top_header{height:105px;}

.paymentinfo{width:auto; margin:2%}
.paymentinfo label{text-align:left; margin-left:5%; margin-bottom:0px; width:95%; margin-right:0px;}
.accept{clear:both; margin-left:5%;}
.cardbox{margin-left:5%;}
.valid{margin-left:5%;  clear:both}
.security{margin-left:5%; clear:both}
.creditcard{margin-left:5%; clear:both}

.tabs{display:none}
.tabs2{display:none}
.tab_drawer_heading{background:url(../images/tabbg.jpg) repeat-x;font-family:'open_sanssemibold'; font-size:16px;color:#fff;border-top:1px solid #B5C6D2;display:block;cursor:pointer;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;margin:0;padding:5px 20px}
.d_active{background: none repeat scroll 0 0 #F1F9FF; border-bottom: 1px solid #B5C6D2; color: #000000;}
.myaccountpage{width:90%; margin-top:25px;}
.tab_content{padding:5%;}
.tab_container{float:none; width:auto}
.person_field{width:100%; padding-left:0px;}
.textboxarea1 label{padding-left:4%;}
.textboxarea1 input[type="text"], .textboxarea1 input[type="password"]{padding-left:5%; padding-right:5%; width:90%;}
.textboxarea1 textarea{padding-left:5%; padding-right:5%; width:90%;}
.textboxarea6 label{padding-left:4%;}
.textboxarea6 input[type="text"]{padding-left:5%; padding-right:5%; width:90%;}
.textboxarea6{padding-right: 0px; margin-bottom: 0px; float: none;}
.textboxarea2{float:none; margin-right:0px;}
.textboxarea2 label{padding-left:4%;}
.textboxarea2 input{padding-left:5%; padding-right:5%; width:90%;}
.textboxarea7{float:none; margin-right:0px; padding-right: 0px; margin-bottom: 0px;}
.textboxarea7 label{padding-left:4%;}
.textboxarea7 input{padding-left:5%; padding-right:5%; width:90%;}
.textboxarea3{float:none; margin-right:0px; display: block;}
.textboxarea3 label{padding-left:4%;}
.textboxarea3 input{padding-left:5%; padding-right:5%; width:90%;}
.textboxarea4{float:none; margin-right:0px;}
.textboxarea4 label{padding-left:4%;}
.textboxarea4 input{padding-left:5%; padding-right:5%; width:90%;}
.textboxarea5{float:none; margin-right:0px; display: block;}
.textboxarea5 label{padding-left:4%;}
.textboxarea5 input{padding-left:5%; padding-right:5%; width:90%;}
.delete{float:none; text-align:center;}
.delete p a{display:inline-block}
.updatehere{float:none; margin:15px auto auto}
.person_img{float:none; width:137px; margin:auto}
.updatehere{text-align:center;}
.update{float:none; display:inline;}
.dealhere .update{float: left;}
.cancel2{float:none; display:inline;}
.package{width:100%;}

.accounttitle{width:90%;}
.createaccount{width:80%; margin:72px 10% 0 10%;}
.createform{width:80%;}
.textboxarea input[type="text"], .textboxarea input[type="password"]{width:96%; padding-left:2%; padding-right:2%;}
.citystate{width:100%;}
.textboxarea input[type="text"].citystate{width:96%; padding-left:2%; padding-right:2%;}
.textboxarea label{padding-left:2%;  padding-right:2%;}
.verify{margin-left:10%; width:80%;}
.byclicking{padding:24px 5% 17px 5%;}
.boxshadow{width:80%; margin-left:10%; display:none}
.copyright{background-color:#fff}
/*.boxshadow img{width:80%;}*/

/*.personalbannerarea{width:auto}
.personal_banner img{width:100%;}
.personal_details{margin-right:5%; padding-left:35%}
.map{width:360px; height:200px; top:-200px; left:-107px}
.map iframe{width:360px; height:200px;}
.map span{position:absolute; bottom:-11px; left:120px;}
.personalimgare{width:23%;}
.personal_img{width:92%; height:auto; padding:4%}
.personalimgare h2{font-size:100%;}
.personal_img img{width:100%;} */
.resp-tab-content{padding-top: 0px!important;}
.search_error{font-size: 13px; margin: 16px 0 18px}
.alert-success, .info{padding-top: 0px; margin-top: -20px; font-size: 13px;}
.logout_alert{font-size: 13px; padding-top:16px}

.toptext{text-align: center;}
.toptext h3{float: none; display: inline; font-size: 24px;}
.toptext h3 span{font-size: 20px;}
.toptext h5{float: none; display: inline-block; font-size: 20px;}

.alert {
padding-top: 30px;
margin-bottom: -30px;
padding-left: 30px;
padding-right: 30px;
}
.checkvisible3{float: none; text-align: center}
.gotomyadmin{font-size: 14px;}
}

@media only screen and (min-width:320px) and (max-width:480px){
.beingprocessed {
    height: 240px;
    margin-top: -120px;
    padding: 0 5%;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 90%;
}
.beingprocessed h2{font-size: 20px;}
.beingprocessed p{font-size: 14px;}
.centerwrap{width:auto;}

.social_icons{padding-left:10px; padding-right:10px; padding-bottom:25px}
.social_icons img{width:75%}
.whitebg{margin-left:10px; margin-right:10px;}
.social_icon{float:none; text-align:center}
.welcome_text{float:none; text-align:center; width:auto; padding-left:0px; padding-right:0px;}
.blockimg{width:30%; padding-top:50px;}
.blockimg img{width:100%;}
.blockdata{width:55%; padding-left:5%; padding-top:50px; padding-right:3%}
.welcome_text p{font-size:18px; line-height:28px;}
.welcome_text p span{font-size:22px; background:url("../images/logo_border.jpg") no-repeat scroll 2px bottom transparent}
.tag{top:5%; right:-8px}
.personal_tag{background:url("../images/personal_tag_mobile.png") no-repeat 0 0; height:32px; line-height:34px; width:79px; font-size:11px;}
/*.social_tag{background:url("../images/social_tag.png") no-repeat scroll 0 0 / 100% auto transparent; height:32px; line-height:32px; width:75px; font-size:11px;}*/
.social_tag{background:url("../images/social_tag_mobile.png") no-repeat 0 0; height:32px; line-height:34px; width:79px; font-size:10px; /*padding-top: 5px;*/}
.social_tag span{font-size:8px;}
.commercial_tag{background:url("../images/commercial_tag_mobile.png") no-repeat 0 0; height:32px; padding-top:5px; width:79px; font-size:10px; line-height:12px;}
.commercial_tag span{font-size:8px;}
.title{width:55%; font-size:15px; background:url("../images/pattern.jpg") repeat scroll 1px 0 transparent; height:30px; top:-31px; line-height:30px;}
.pscblocks{margin:0 10px; padding-top:60px}
.blockdata p{font-size:12px; line-height:17px;}
.create{width:45%; height:24px; line-height:24px; font-size:10px; border-radius:3px; -webkit-border-radius:3px; margin-top:22px; margin-bottom:10px;}
.blocks{margin-bottom:60px; padding:5px;}


.authorize{width:100%; margin-bottom:10px; padding:0px; text-align: center;}
.socialdetails{ padding:3% 2% 0; float:none; width:88%; margin:auto; margin-bottom:15px;}
.socialdetails span{display:none;}
.cancel{width:100%; padding: 0px; text-align: center;}
.delete_social{width:100%; padding: 0px; text-align: center; margin-top: 10px;}
.socialiconarea{width:100%; padding-left:0px; padding-top:20px; float:none}
.socialiconarea ul{padding-left:6%;}
.socialiconarea ul li{width:50px;}
.socialiconarea ul li img{width:100%;}
.social_textbox input{width:93%}
.socialiconarea ul li{margin-bottom:20px; margin-right:20px;}
.socialdetails{}

/*Header*/
.logo{padding-left:12px; padding-top:14px; width:104px;}
.logo img{width:100%;}
.topnav{float:right; padding-right:11px; padding-left:0px; padding-top:18px;}
.topnav ul li{font-size:11px;}

.toplinks_left{padding-top:12px;}
.loginbox{top:37px; right:-65px;}
.toparrow{right:76px}
a.home{width:23px; height:auto}
a.home span{margin:0px;}
a.vidoe{width:28px; height:auto; background-color:transparent}
a.vidoe span{margin:0px;}
a.login{width:23px; height:auto; background-color:transparent}
a.login span{margin:0px;}
a.logoutclass{width:23px; height:auto; background-color:transparent}
a.logoutclass span{margin:0px;}
.bluebg{background-color:#0E64A8; height:45px;}
.header_right{float:right; padding-right:11px;}
a.active.home, a:hover.home, a.active.login, a.login:hover,a.active.vidoe,a:hover.vidoe{background-color:transparent;}
.top_logo{height:24px; padding-left:9px; margin-top:12px; padding-top:3px; margin-left:9px; border-left:1px solid #3794de}
.footerlinks{font-size:12px; float:none; text-align:center; background-color:#1b1b1b; line-height:36px;}
footer{background-color:transparent;}
.copyright{font-size:9px; text-align:center; float:none; line-height:25px;}


.paymentinfo{width:auto; margin:2%}
.paymentinfo label{text-align:left; margin-left:5%; margin-bottom:0px; width:95%; margin-right:0px;}
.accept{clear:both; margin-left:5%;}
.cardbox{margin-left:5%;}
.valid{margin-left:5%;  clear:both}
.security{margin-left:5%; clear:both}
.creditcard{margin-left:5%; clear:both; width:217px;}/*235*/
.valid .select_box{clear:left; margin-bottom:10px; width:237px!important; margin-right:0px;}/*254*/
.valid .select_box select{width:254px!important;}
.cardnumber{width:217px}/*235*/
.paynow{width:50%;}


.tabs{display:none}
.tabs2{display:none}
.tab_drawer_heading{background:url(../images/tabbg.jpg) repeat-x;font-family:'open_sanssemibold'; font-size:16px;color:#fff;border-top:1px solid #B5C6D2;display:block;cursor:pointer;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;margin:0;padding:5px 20px}
.d_active{background: none repeat scroll 0 0 #F1F9FF; border-bottom: 1px solid #B5C6D2; color: #000000;}
.myaccountpage{width:90%; margin-top:25px;}
.tab_content{padding:5%;}
.tab_container{float:none; width:auto}
.person_field{width:100%; padding-left:0px;}
.textboxarea1 label{padding-left:4%; padding-right: 14%}
.textboxarea1 input[type="text"], .textboxarea1 input[type="password"]{padding-left:5%; padding-right:5%; width:90%;}
.textboxarea1 textarea{padding-left:5%; padding-right:5%; width:90%;}
.textboxarea6 label{padding-left:4%;}
.textboxarea6 input[type="text"]{padding-left:5%; padding-right:5%; width:90%;}
.textboxarea6{padding-right: 0px; margin-bottom: 0px; float: none;}
.textboxarea2{float:none; margin-right:0px;}
.textboxarea2 label{padding-left:4%;}
.textboxarea2 input{padding-left:5%; padding-right:5%; width:90%;}
.textboxarea7{float:none; margin-right:0px; padding-right: 0px; margin-bottom: 0px;}
.textboxarea7 label{padding-left:4%;}
.textboxarea7 input{padding-left:5%; padding-right:5%; width:90%;}
.textboxarea3{float:none; margin-right:0px; display: block;}
.textboxarea3 label{padding-left:4%;}
.textboxarea3 input{padding-left:5%; padding-right:5%; width:90%;}
.textboxarea4{float:none; margin-right:0px;}
.textboxarea4 label{padding-left:4%;}
.textboxarea4 input{padding-left:5%; padding-right:5%; width:90%;}
.textboxarea5{float:none; margin-right:0px; display: block;}
.textboxarea5 label{padding-left:4%;}
.textboxarea5 input{padding-left:5%; padding-right:5%; width:90%;}
.delete{floatt:none; text-align:center; margin-bottom:15px;}
.delete p a{display:inline-block}
.updatehere{float:none; margin:15px auto auto}
.person_img{float:none; width:137px; margin:auto}
.update{width:100%; padding:0px; margin-bottom:14px;}
.cancel2{width:100%; padding:0px;}

.package{width:100%;}
.myplan h2{font-size:20px;}
.myplan h5{font-size:12px;}
.package ul li{line-height:28px;}

.dealhere{float:none}

.accounttitle{width:90%;}
.createaccount{width:90%; margin:72px 5% 0 5%;}
.createform{width:90%;}
.textboxarea input{width:96%; padding-left:2%; padding-right:2%;}
.textboxarea input[type="text"], .textboxarea input[type="password"]{width:96%; padding-left:2%; padding-right:2%;}
.citystate{width:100%;}
.textboxarea input[type="text"].citystate{width:96%; padding-left:2%; padding-right:2%;}
.textboxarea label{padding-left:2%; padding-right:2%;}
.verify{margin-left:10%; width:80%;}
.byclicking{padding:24px 5% 17px 5%;}
.boxshadow{width:80%; margin-left:10%; display:none}
.businesstab{padding:27px 10%}
.copyright{background-color:#fff}
.resp-tab-content{padding-top: 0px!important;}
.search_error{font-size: 13px; margin:8px 0 18px}
.alert-success, .info{padding-top: 0px; margin-top: -20px; font-size: 13px;}
.logout_alert{font-size: 13px; padding-top:8px}
.upgrade{margin-bottom:15px; margin-right:18px;}
.dropdownbox{margin-left:0px;}
.toptext{text-align: center;}
.toptext h3{float: none; display: inline; font-size: 20px;}
.toptext h3 span{font-size: 16px;}
.toptext h5{float: none; display: inline-block; font-size: 16px;}
.alert {padding-top: 30px;padding-left: 30px;padding-right: 30px;font-size: 14px;}
.gotomyadmin{font-size: 11px;padding: 0 8px;height: 35px;line-height: 35px;}

.phoneimg{background: url(../images/call_small_icon.png) no-repeat; height:24px; width:18px;}
.mailicon{background: url(../images/mail_small_icon.png) no-repeat; width: 24px; height: 19px; margin-left: 10px; padding-left: 0px!important;}
.round_corner{margin-top: 10px;padding: 11px;width: 90%;font-size: 12px;}
}

@media only screen and (min-width:480px) and (max-width:767px){
.wsearchlogo{width:80px}
.wsearchlogo img{width:100%; display:block}
.findfriends{margin:0 15px; padding-top:40px;}
.wsearchbg{width:369px; height:87px}
.textbox{width:360px}
.wsearchbox{padding-left:20px; padding-top:16px;}
.wsearchbox span{left:10px;}
.textbox{width:200px; font-size:18px;}
.connect{width:100px; margin-top:18px; font-size:19px;}
.whitebg{margin-top:50px;}


.welcomebox h3{background:url("../images/lightbox_topbg.jpg") repeat-x scroll left bottom transparent; height:60px; line-height:60px; font-size:24px;}
.welcomelightbox{width:450px; margin-left:-225px; height:280px; margin-top:-140px;}
.welcomebox{width:450px; height:280px;}
.wsearchlogo img{display:block;}
.mobileweb{padding-left:15px; padding-right:15px; padding-top:15px;}
.webaddress{width:339px; height:87px;}
.webtextbox{width:190px; font-size:16px;}
.webaddressbox{padding-top:21px; padding-left:10px;}
.welcomebox p{padding-bottom:10px; padding-top:10px;}
.check{width:80px; margin-top:23px; font-size:18px;}
.close{width:30px; top:-15px; right:-10px;}
.close img{width:100%;}
.close_senmailclose{width:30px; top:-15px; right:-10px;}
.close_senmailclose img{width:100%;}
.closecreatemultiple{width:30px; top:-15px; right:-10px;}
.closecreatemultiple img{width:100%;}
.welcomebox ul li{line-height:28px;}

.sendmassagebg{width:450px; margin-left:-225px; height:750px; margin-top:0px; top:5%}
.sendbox{width:450px; height:750px;}
.sendmsg{width:auto; margin:auto 20px}
.sendmsg label{line-height:normal; text-align:left; margin-bottom:5px; font-size:14px;}
.sendtextbox{width:96%; padding:0 2%; margin-bottom:20px;}
.sendtextarea{width:96%; padding:0 2%; margin-bottom:5px;}
.minimum{padding-left:0px;}
.verification{margin-left:45px;}
.sendbtn{margin-left:135px}
.sendmsg .error{left:3px; top:58px;}
.sendmsg .textresponsivebox .error{left:238px; top:139px;}
.sendmsg .responsivecaptcha .error{left:0px; top:35px; width:100%; text-align:center}

.lightbox{width:450px; margin-left:-225px; height:280px; margin-top:-140px;}
.thankyou{width:450px; padding-top:20px; height:260px; background:url("../images/lightboxbg.jpg") no-repeat scroll left top transparent}
.thankyou h3{margin-left:40px; padding-bottom:0px;}
.thankyou h4{margin-left:120px; padding-right:40px; line-height:24px; font-size:16px; padding-bottom:10px;}
.thankyou p{margin-left:120px; padding-right:40px; line-height:24px; font-size:14px;}

.wowdealbox{width:450px; margin-left:-225px; height:280px; margin-top:-140px;}
.promotionsbox{width:450px; padding-top:20px; height:260px; background:url("../images/lightboxbg.jpg") no-repeat scroll left top transparent}
.promotionsbox h3{margin-left:40px; padding-bottom:0px; font-size:24px;}
.promotionsbox p{margin-left:120px; padding-right:40px; line-height:24px; font-size:14px;}

.personalbannerarea{width:auto}
.personal_title{width:100%;}
.personal_banner img{width:100%;}
.personal_details{margin-right:5%; padding-left:35%}
.map{width:360px; height:200px; top:-200px; left:-107px}
.map iframe{width:360px; height:200px;}
.map span{position:absolute; bottom:-11px; left:120px;}
.personalimgare{width:23%;}
.personal_img{width:90px; /*height:90px; padding:4%*/}
#social_image > a{right:0px;}
/*.personal_img span{width:90px; height:90px;*/
.personalimgare h2{font-size:100%; text-overflow:ellipsis; text-transform:uppercase; overflow:hidden}
.personal_img img{width:100%;}
.call_email{float:left; padding-top:10px;}
.call_email a{padding-left:0px; /*padding-right:20px;*/}
.socialicons{padding-right:20px;}
.socialicons a{margin-left: 0px;}
a.facebook{margin-right:8px;}
a.twitter{margin-right:8px;}
a.flickr{margin-right:8px;}
a.yelp{margin-right:8px;}
a.pinterest{margin-right:8px;}
a.linkedin{margin-right:8px;}
a.tumblr{margin-right:8px;}
a.youtube{margin-right:8px;}
a.foursquare{margin-right:8px;}
a.instagram{margin-right:8px;}
a.googleplus{margin-right:8px;}
.address_maparea{padding-right: 8px;}
.maparea{margin-right:8px;}
div.jquery-gdakram-tooltip div.content{width:250px;}
div.jquery-gdakram-tooltip p{font-size:12px; line-height:18px;}
div.jquery-gdakram-tooltip ul li{font-size:12px; line-height:18px;}

/*.wowdealbox{width:400px; border:3px solid #fff; -webkit-box-shadow:0px 5px 15px 0px rgba(0, 0, 0, 0.8); box-shadow:0px 5px 15px 0px rgba(0, 0, 0, 0.8); -webkit-border-radius:5px; border-radius:5px; position:absolute; margin:auto; left:50%; margin-left:-200px; z-index:9999; height:150px; margin-top:-75px; top:50%}
.promotionsbox{background:url(../images/lightboxbg.jpg) no-repeat center top; width:400px; height:120px; position:relative; padding-top:30px}*/
}

@media only screen and (min-width:320px) and (max-width:479px){
.wsearchlogo{width:50px}
.wsearchlogo img{width:100%; display:block}
.findfriends{margin:0 15px; padding-top:40px;}
.wsearchbg{width:239px; height:54px}
.textbox{width:360px}
.wsearchbox{padding-left:14px; padding-top:6px;}
.wsearchbox span{left:4px; margin-top:11px}
.textbox{width:116px; font-size:14px; height:40px; line-height:40px; margin-right:5px; padding:0 5px;}
.connect{width:85px; margin-top:7px; font-size:16px; height:40px; line-height:40px;}
.whitebg{margin-top:50px;}

.mobileweb .wsearchlogo{width:52px;}
.welcomebox h3{background:url("../images/lightbox_topbg.jpg") repeat-x scroll left bottom transparent; height:50px; line-height:50px; font-size:14px;}
.welcomelightbox{width:290px; margin-left:-145px; height:300px}
.welcomebox{width:290px; height:300px;}
.wsearchlogo img{display:block;}
.mobileweb{padding-left:15px; padding-right:15px; padding-top:15px;}
.webaddress{width:207px; height:56px;}
.webtextbox{width:88px; font-size:16px; height:40px; line-height:40px; margin-right:5px;}
.webaddressbox{padding-top:8px; padding-left:5px;}
.welcomebox p{padding-bottom:15px; padding-left:10px; padding-right:10px; font-size:14px;}
.check{width:70px; margin-top:9px; font-size:16px; height:40px; line-height:40px;}
.close{width:30px; top:-15px; right:-10px;}
.close img{width:100%;}
.close_senmailclose{width:30px; top:-15px; right:-10px;}
.close_senmailclose img{width:100%;}
.closecreatemultiple{width:30px; top:-15px; right:-10px;}
.closecreatemultiple img{width:100%;}
.welcomebox ul li{line-height:28px; font-size:13px;}
.webaddressbox span{margin-top:11px;}

.lightbox{width:290px; margin-left:-145px;}
.thankyou{width:290px; padding-top:30px; height:310px; background:url("../images/lightboxbg.jpg") no-repeat scroll left top transparent}
.thankyou h3{margin-left:40px; font-size:30px; line-height:55px;}
.thankyou h4{margin-left:20px; padding-right:20px; line-height:20px; font-size:16px; padding-top:20px;}
.thankyou p{margin-left:20px; padding-right:20px; line-height:20px; font-size:14px;}

.wowdealbox{width:290px; margin-left:-145px; height: 290px}
.promotionsbox{width:290px; padding-top:30px; height:260px; background:url("../images/lightboxbg.jpg") no-repeat scroll left top transparent}
.promotionsbox h3{margin-left:5px; font-size:24px; line-height:30px;}
.promotionsbox p{margin-left:20px; padding-right:20px; line-height:20px; font-size:14px;}

.personalbannerarea{width:auto}
.personal_title{width:100%;}
.personal_banner img{width:100%;}
/*.personal_details{margin-right:5%; padding-left:35%; padding-top:10px;}*/
.personal_details{margin-right:2%; padding-left:32%; padding-top:10px;}
.map{width:360px; height:200px; top:-200px; left:-107px}
.map iframe{width:360px; height:200px;}
.map span{position:absolute; bottom:-11px; left:120px;}
.personalimgare{width:23%; left:5%; top:-20px;}
.personal_img{width:60px; /*height:60px; padding:4%*/ padding:4px;}
#social_image > a{width:25px;}
/*	.personal_img span{width:60px; height:60px;}*/
.personalimgare h2{font-size:12px; text-overflow:ellipsis; text-transform:uppercase; overflow:hidden}
.personal_img img{width:100%;}
.call_email{float:left; padding-top:10px;}
.call_email a{padding-left:0px; padding-right:0px;}
.call_email img{width:50%;}
.personal_social{height:42px;}
.socialicons{padding-right:0px; padding-top:6px}
a.facebook{margin-right:5px;}
a.twitter{margin-right:5px;}
a.flickr{margin-right:5px;}
a.yelp{margin-right:5px;}
a.pinterest{margin-right:5px;}
a.linkedin{margin-right:5px;}
a.tumblr{margin-right:5px;}
a.youtube{margin-right:5px;}
a.foursquare{margin-right:5px;}
a.instagram{margin-right:5px;}
a.googleplus{margin-right:5px;}
.maparea{margin-right:5px; padding-top:5px;}
/*.address_map{width: 260px; margin-left: -130px;}*/
.address_maparea{padding-top: 6px; padding-right: 5px;}
.map{width:280px; left:-77px; height:150px; top:-158px;}
.map iframe{width:280px; height:150px;}
.map span{left:86px;}
.mapicon{background:url("../images/map_icon_mobile.png") no-repeat; width:30px; height:31px; margin-left: 0px;}
.mapicon.active{background:url("../images/map_icon_hover_mobile.png") no-repeat;}
.address_mapicon{background:url("../images/map_icon_mobile.png") no-repeat; width:30px; height:31px; margin-left: 0px;}
.address_mapicon.active{background:url("../images/map_icon_hover_mobile.png") no-repeat;}
a.facebook{background:url("../images/social_mobile.png") no-repeat; width:30px; height:30px; margin-left: 0px;}
a.facebook:hover{background:url("../images/social_mobile.png") no-repeat 0 -30px;}
a.twitter{background:url("../images/social_mobile.png") no-repeat -40px 0; width:30px; height:30px; margin-left: 0px;}
a:hover.twitter{background:url("../images/social_mobile.png") no-repeat -40px -30px}
a.flickr{background:url("../images/social_mobile.png") no-repeat -80px 0; width:30px; height:30px; margin-left: 0px;}
a:hover.flickr{background:url("../images/social_mobile.png") no-repeat -80px -30px;}
a.yelp{background:url("../images/social_mobile.png") no-repeat -120px 0; width:30px; height:30px; margin-left: 0px;}
a:hover.yelp{background:url("../images/social_mobile.png") no-repeat -120px -30px;}
a.pinterest{background:url("../images/social_mobile.png") no-repeat -160px 0; width:30px; height:30px; margin-left: 0px;} 
a:hover.pinterest{background:url("../images/social_mobile.png") no-repeat -160px -30px;}

a.linkedin{background:url("../images/social_mobile.png") no-repeat -200px 0; width:30px; height:30px; margin-left: 0px;}
a:hover.linkedin{background:url("../images/social_mobile.png") no-repeat -200px -30px;}
a.tumblr{background:url("../images/social_mobile.png") no-repeat -240px 0; width:30px; height:30px; margin-left: 0px;}
a:hover.tumblr{background:url("../images/social_mobile.png") no-repeat -240px -30px;}
a.youtube{background:url("../images/social_mobile.png") no-repeat -281px 0; width:30px; height:30px; margin-left: 0px;}
a:hover.youtube{background:url("../images/social_mobile.png") no-repeat -281px -30px;}
a.foursquare{background:url("../images/social_mobile.png") no-repeat -321px 0; width:30px; height:30px; margin-left: 0px;}
a:hover.foursquare{background:url("../images/social_mobile.png") no-repeat -321px -30px;}
a.instagram{background:url("../images/social_mobile.png") no-repeat -355px 0; width:30px; height:30px; margin-left: 0px;}
a:hover.instagram{background:url("../images/social_mobile.png") no-repeat -355px -30px;}
a.googleplus{background:url("../images/social_mobile.png") no-repeat -390px 0; width:30px; height:30px; margin-left: 0px;}
a:hover.googleplus{background:url("../images/social_mobile.png") no-repeat -390px -30px;}

.personal_title h3{font-size:12px;}
.personal_title h4{font-size:12px;}
.personal_detail{padding-top:15px;}
.personal_detail p{font-size:15px;}
.promotions{margin-bottom:0px; padding-top:20px;}
.promotions a{padding:0 10px;height:35px; line-height:35px; font-size:10px}
.promotions a span{background:none; padding-right:0px;}

div.jquery-gdakram-tooltip div.content{width:230px;}
div.jquery-gdakram-tooltip div.down_arrow{background:url(../images/dropdownimg.png) 210px 0 no-repeat;}
div.jquery-gdakram-tooltip p{font-size:12px; line-height:18px;}
div.jquery-gdakram-tooltip ul li{font-size:12px; line-height:18px;}

/*.wowdealbox{width:280px; border:3px solid #fff; -webkit-box-shadow:0px 5px 15px 0px rgba(0, 0, 0, 0.8); box-shadow:0px 5px 15px 0px rgba(0, 0, 0, 0.8); -webkit-border-radius:5px; border-radius:5px; position:absolute; margin:auto; left:50%; margin-left:-140px; z-index:9999; height:190px; margin-top:-95px; top:50%}
.promotionsbox{background:url(../images/lightboxbg.jpg) no-repeat center top; width:280px; height:170px; position:relative; padding-top:20px}*/

.sendmassagebg{width:290px; margin-left:-145px; height:810px; margin-top:0px; top:5%}
.sendbox{width:290px; height:810px;}
.sendmsg{width:auto; margin:auto 20px}
.sendmsg label{line-height:normal; text-align:left; margin-bottom:5px; font-size:14px;}
.sendtextbox{width:96%; padding:0 2%; margin-bottom:20px;}
.sendtextarea{width:96%; padding:0 2%; margin-bottom:5px;}
.minimum{padding-left:0px;}
.verification{margin-left:5px; width:auto; text-align:center; margin-top:25px;}
.verification p{width:auto; text-align:center; padding-right:0px; float:none}
.sendbtn{margin-left:57px; margin-top:30px}
.sendmsg .error{left:3px; top:58px;}
.sendmsg .textresponsivebox .error{left:0; top:158px;}
.sendmsg .responsivecaptcha .error{left:0px; top:72px; width:100%; text-align:center}
.round_corner{margin-top: 16px;padding: 11px;width: 90%;font-size: 12px;}
}


@media only screen and (max-width:1023px){
.findfriends{width:738px; margin:auto}
}
@media only screen and (max-width:767px){
.findfriends{width:450px; margin:auto}


}
@media only screen and (max-width:479px){
.findfriends{width:290px; margin:auto}

}
@media only screen and (min-width:480px) and (max-width:740px){
	.promotions a{font-size:12px; height:35px; line-height:35px; padding:0 14px 0 30px}
	.round_corner{margin-top: 16px;padding: 11px;width: 90%;font-size: 12px;}
}
