body{margin:0px; padding:0px; background:url(../images/pattern_bg.jpg) repeat; font-family:'open_sanslight';}

img,iframe{border:none}
a,input{text-decoration:none; outline:none;}
h1,h2,h3,h4,h5,h6,ul,form,p,input{margin:0px; padding:0px;}
.clear{clear:both;}
.centerwrap{width:1000px; margin:auto}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block; margin:0px; padding:0px; border:0px;}
@font-face {
    font-family:'futura_bk_btbook';
    src: url('../fonts/futuran-webfont.eot');
    src: url('../fonts/futuran-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuran-webfont.woff') format('woff'),
         url('../fonts/futuran-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswaldbook';
    src: url('../fonts/oswald-webfont.eot');
    src: url('../fonts/oswald-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-webfont.woff') format('woff'),
         url('../fonts/oswald-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SegoeWPLightRegular';
    src: url('../fonts/segoewp-light.eot');
    src: url('../fonts/segoewp-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoewp-light.woff') format('woff'),
         url('../fonts/segoewp-light.ttf') format('truetype'),
         url('../fonts/segoewp-light.svg#SegoeWPLightRegular') format('svg');
}
@font-face {
    font-family:'open_sanslight_italic';
    src: url('../fonts/opensans-lightitalic-webfont.eot');
    src: url('../fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-lightitalic-webfont.woff') format('woff'),
         url('../fonts/opensans-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'open_sanssemibold_italic';
    src: url('../fonts/opensans-semibolditalic_0-webfont.eot');
    src: url('../fonts/opensans-semibolditalic_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibolditalic_0-webfont.woff') format('woff'),
         url('../fonts/opensans-semibolditalic_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'open_sansbold';
    src: url('../fonts/opensans-bold_0-webfont.eot');
    src: url('../fonts/opensans-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold_0-webfont.woff') format('woff'),
         url('../fonts/opensans-bold_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.paddingb45{padding-bottom:45px;}
.paddingb20{padding-bottom:20px; position:relative}
.paddingb34{padding-bottom:34px;}

.waddress_bg{background:url(../images/headerbg.jpg) no-repeat top center;}
.top_header{border-top:5px solid #000; background-color:#fff; height:95px;}
.top_shadow{background:url(../images/top_shadow.png) repeat-x bottom left; height:8px;}
.logo{padding-top:26px; float:left}
.topnav{float:left; padding-left:165px; padding-top:35px;}
.topnav ul{list-style:none;}
.topnav ul li{font-size:22px; float:left; color:#575757; font-family:'oswaldbook';}
.topnav ul li a{color:#575757}
.topnav ul li a:hover{color:#1f7aba}
.topnav ul li span{padding:0 8px;}
.header_right{float:right;}
.toplinks_left{float:left; padding-top:28px;}
a.home{float:left; height:43px; width:43px; display:block; -webkit-border-radius:25px; border-radius:25px; text-align:center; margin-right:13px;}
a.active.home{background-color:#4b4b4b;}
a.active.home span{background:url(../images/home.png) no-repeat left bottom;}
a:hover.home{background-color:#4b4b4b;}
a:hover.home span{background:url(../images/home.png) no-repeat left bottom;}
a.home span{display:block; background:url(../images/home.png) no-repeat; width:23px; height:22px; margin:auto; margin-top:11px;}
.loginarea{float:left; position:relative}
a.login{float:left; height:43px; width:43px; display:block; -webkit-border-radius:25px; border-radius:25px; text-align:center; margin-right:13px; background-color:#fff}
a.active.login{background-color:#4b4b4b;}
a.active.login span{background:url(../images/login.png) no-repeat left -128px;}
a:hover.login{background-color:#4b4b4b; }
a:hover.login span{background:url(../images/login.png) no-repeat left -128px;}
a.login span{display:block; background:url(../images/login.png) no-repeat; width:23px; height:22px; margin:auto; margin-top:11px;}
a.logoutclass{float:left; height:43px; width:43px; display:block; -webkit-border-radius:25px; border-radius:25px; text-align:center; margin-right:13px;}
a.active.logoutclass{background-color:#4b4b4b;}
a.active.logoutclass span{background:url(../images/logout_top.png) no-repeat left bottom;}
a:hover.logoutclass{background-color:#4b4b4b;}
a:hover.logoutclass span{background:url(../images/logout_top.png) no-repeat left bottom;}
a.logoutclass span{display:block; background:url(../images/logout_top.png) no-repeat; width:23px; height:24px; margin:auto; margin-top:11px;}

a.vidoe{float:left; height:43px; width:43px; display:block; -webkit-border-radius:25px; border-radius:25px; text-align:center; margin-right:0px; background-color:#fff}
a.active.vidoe{background-color:#4b4b4b;}
a.active.vidoe span{background:url(../images/video_icon.png) no-repeat left -128px;}
a:hover.vidoe{background-color:#4b4b4b;}
a:hover.vidoe span{background:url(../images/video_icon.png) no-repeat left -128px;}
a.vidoe span{background:url(../images/video_icon.png) no-repeat; width:28px; height:22px; display:block; margin:11px auto auto;}
.top_logo{float:left; border-left:1px solid #e3e3e3; padding-top:26px; height:34px; padding-left:26px; margin-top:18px; margin-left:31px;}
.findfriends{padding-top:79px; position: relative;}
.wsearchlogo{float:left;}
.wsearchbg{background-color:#4b4b4b; height:123px; border:1px solid #323232; border-left:0px; float:left; width:886px;}
.wsearchbox{float:left; padding-top:34px; padding-left:34px; position:relative}
/*.textbox{height:54px; width:638px; background-color:#fff; border:1px solid #373637;}
.textbox:before{background:url(../images/leftarrow.png) repeat scroll 0 0 transparent; content:" "; height: 20px; left: 5px; margin-left: 10px;
position: absolute; top: 53px; width: 10px;}*/
.wsearchbox span{background:url(../images/leftarrow.png) repeat; width:10px; height:20px; margin-top:19px; position:absolute; left:24px; z-index:5}
/*.textbox{height:54px; width:618px; background-color:#fff; border:1px solid #373637; -webkit-border-radius:10px; border-radius:10px; padding:0 10px; line-height:54px; margin-right:13px; font-family: 'open_sansregular'; font-size:24px; color:#575757;}*/
.textbox{height:54px; width:618px; background-color:#fff; border:0px solid #373637; -webkit-border-radius:10px; border-radius:10px; padding:0 10px; line-height:54px; margin-right:13px; font-family: 'open_sansregular'; font-size:24px; color:#575757;}
.connect{background:url(../images/connect_btn.jpg) repeat-x; height:52px; cursor:pointer; border:1px solid #0a80ca; -webkit-border-radius:10px; border-radius:10px; float:left; width:173px; font-family:'open_sanssemibold'; color:#fff; font-size:22px; text-shadow:1px 1px #2773a7; margin-top:35px;}
.whitebg{border:1px solid #d0d0d0; margin-top:84px; background-color:#fff; border-bottom:0px;}
.social_icons{padding-top:52px; padding-left:20px; padding-bottom:55px;}
.social_icon{float:left;}
.welcome_text{float:left; width:605px; padding-left:28px;}
.welcome_text p{font-size:28px; color:#3a2a40; line-height:50px; font-family:'SegoeWPLightRegular'; padding-top:30px;}
.welcome_text p span{color:#257fbe; font-size:30px; background:url(../images/logo_border.jpg) no-repeat 5px bottom;}
.pscblocks{border-top:1px solid #e4e4e4; margin:0 34px; padding-top:88px;}
.blocks{position:relative; background:url(../images/pattern.jpg) repeat; border:1px solid #e8e8e8; padding:10px; margin-bottom:105px;}
.title{position:absolute; background:url(../images/pattern.jpg) repeat 3px 0; border:1px solid #e8e8e8; border-bottom:0px; font-family: 'futura_bk_btbook'; font-size:28px; color:#000; width:272px; text-align:center; line-height:48px; height:47px; top:-48px; left:28px;}
.whitebox{border:1px solid #e8e8e8; background-color:#fff;}
.blockimg{float:left; padding-left:17px; padding-top:24px; }
.blockdata{float:left; width:600px; padding-top:97px; padding-left:53px;}
.blockdata p{font-size:16px; color:#5e5e5e; font-family:'open_sanslight'; line-height:20px;}
.create{font-family:'open_sanssemibold'; color:#fff; font-size:18px; text-transform:uppercase; background:url(../images/create_btn.png) repeat-x; -webkit-border-radius:5px; border-radius:5px; width:130px; height:45px; float:right; text-shadow:0px -1px #474747; text-align:center; line-height:45px; margin-top:32px; margin-bottom:22px;}
.tag{position:absolute; right:-12px; top:26px;}
.personal_tag{background:url(../images/personal_tag.png) no-repeat; width:130px; height:52px; font-family:'open_sanssemibold'; color:#fff; font-size:18px; color:#fff; line-height:58px; text-align:center}
/*.social_tag{background:url(../images/social_tag.png) no-repeat; width:130px; height:52px; font-family:'open_sanssemibold'; color:#fff; font-size:18px; color:#fff; line-height:58px; text-align:center}*/
/*.social_tag{background:url(../images/social_tag.png) no-repeat; width:130px; height:40px; font-family:'open_sanssemibold'; color:#fff; font-size:18px; color:#fff; line-height:16px; text-align:center; padding-top: 12px;}*/
.social_tag{background:url(../images/social_tag.png) no-repeat; width:130px; height:52px; font-family:'open_sanssemibold'; color:#fff; font-size:18px; color:#fff; line-height:58px; text-align:center}
.social_tag span{display:block; font-family: 'open_sanslight'; font-style:italic; font-size:14px;}
.commercial_tag{background:url(../images/commercial_tag.png) no-repeat; width:130px; height:40px; font-family:'open_sanssemibold'; color:#fff; font-size:18px; color:#fff; text-align:center; line-height:16px; padding-top:12px;}
.commercial_tag span{display:block; font-family: 'open_sanslight'; font-style:italic; font-size:14px;}
.last{margin:0px!important;}
footer{background-color:#1b1b1b; height:53px;}
.copyright{float:left; font-family: 'open_sansregular'; font-size:14px; color:#bcbcbc; line-height:53px;}
.footerlinks{float:right; font-family: 'open_sansregular'; font-size:14px; color:#fff; line-height:53px;}
.footerlinks a{color:#fff;}
.footerlinks a:hover{color:#e7a640;}
/*Login css*/
.loginbox{width:290px; background-color:#fefefe; border:1px solid #cacaca; -webkit-box-shadow:0px 0px 2px 0px rgba(202, 202, 202, 0.8); box-shadow: 0px 0px 2px 0px rgba(202, 202, 202, 0.8); position:absolute; right:7px; top:52px; z-index:9999; display: none;}
.toparrow{position:absolute; top:-17px; right:16px;}
.reletive{position:relative; padding:18px 18px 0 18px;}
.texticonbox label{display:block; height:38px; line-height:38px; padding-left:54px; color:#a3a3a3; font-size:14px; font-family:font-family: 'open_sansregular'; position:absolute}
.texticonbox input{background:url(../images/textbox.png) no-repeat; width:200px; height:36px; line-height:36px; padding-left:53px; color:#a3a3a3; font-size:14px; font-family:'open_sansregular'; border:none; border:1px solid #cecece; -webkit-border-radius:5px; border-radius:5px;}
.usericon{position:absolute; width:44px; height:31px; background-color:#469bd6; border:1px solid #2f7fb6; -webkit-border-radius: 5px 0px 0px 5px;border-radius: 5px 0px 0px 5px; padding-top:5px; text-align:center; z-index:10}
.passwordicon{position:absolute; width:44px; height:27px; background-color:#469bd6; border:1px solid #2f7fb6; -webkit-border-radius: 5px 0px 0px 5px;border-radius: 5px 0px 0px 5px; padding-top:9px; text-align:center; z-index:10; top:0px; left:0px;}
.texticonbox{margin-bottom:10px; /*overflow:hidden*/ float:left; position:relative}
.remember{float:left; font-size:12px; font-family:'open_sansregular'; color:#5c5c5c; margin-top:4px;}
.remember input{margin-right:7px; float:left; margin-top:2px;}
.forgot{float:right; font-size:12px; font-family:'open_sansregular'; margin-top:4px;}
.forgot a{color:#5c5c5c; text-decoration:underline;}
.forgot a:hover{text-decoration:none;}
.loginbtn{background:url(../images/loginbtn_bg.jpg) repeat-x; height:33px; border:1px solid #095e93; -webkit-border-radius:5px; border-radius:5px; line-height:33px; text-align:center; width:100%; font-size:14px; color:#fff; font-family:'open_sansregular'; text-shadow:1px 1px #2574aa; margin-top:16px; margin-bottom:19px; cursor:pointer}

/*Create account css*/
.createaccount{width:603px; background-color:#f1f9ff; border:1px solid #b5c6d2; -webkit-border-radius:5px; border-radius:5px; margin:auto; margin-top:72px;}
.accounttitle{background-color:#32a2e3; height:48px; position:relative; width:277px; font-family:'open_sanssemibold'; color:#fff; text-align:center; line-height:48px; font-size:20px; margin-top:30px; z-index:0}
.titleft{position:absolute; left:-10px; top:0px;}
.titleright{position:absolute; right:-19px; top:0px;}
.createform{padding-top:38px; width:444px; margin:auto}
.textboxarea label{display:block; height:39px; line-height:39px; padding-left:15px; color:#9d9d9d; font-size:14px; font-family:font-family: 'open_sansregular'; position:absolute; z-index:10}
.textboxarea label:focus{color:#4b4c4d; font-family:'open_sanssemibold';}
.textboxarea input[type="text"], .textboxarea input[type="password"]{background-color:#fff; width:414px; height:37px; line-height:37px; padding-left:14px; color:#4b4c4d; font-size:14px; font-family:'open_sansregular'; border:none; border:1px solid #9a9a9a; -webkit-border-radius:5px; border-radius:5px; padding-right:14px;}
.textboxarea input[type="text"]:focus, .textboxarea input[type="password"]:focus{color:#4b4c4d; -webkit-box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); box-shadow: 0px 0px 6px 0px rgba(78, 185, 244, 0.7);}
.textboxarea input[type="text"].citystate{background-color:#fff; width:187px; height:37px; line-height:37px; padding-left:14px; color:#4b4c4d; font-size:14px; font-family:'open_sansregular'; border:none; border:1px solid #9a9a9a; -webkit-border-radius:5px; border-radius:5px; padding-right:14px;}
.textboxarea input[type="text"].citystate:focus{color:#4b4c4d; -webkit-box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); box-shadow: 0px 0px 6px 0px rgba(78, 185, 244, 0.7);}
.citystate{width: 216px; float: left; clear: none!important; margin-right: 11px;}
.marginright{margin-right: 0px!important}
.textboxarea input[type="password"]{font-family: arial}
.textboxarea{margin-bottom:11px; clear:both}
.textboxarea p{font-family: 'open_sanslight'; font-size: 14px; float: left; padding-right: 15px; color:#5B5B5B}
.textboxarea span{font-family: 'open_sanslight'; font-size: 14px; float: left; margin-right: 10px;}
.textboxarea span input{float: left; margin-right: 5px; margin-top: 5px;}
.createform .textboxarea p{padding-right: 0px;}
.createform .textboxarea span{margin-right: 0px; margin-left: 10px;}
.tooshort{font-family:'open_sanssemibold'; font-size:16px; color:#5b5b5b; float:right; line-height:25px; margin-bottom:16px; margin-top:0px; width:120px; text-align: right; padding-right: 10px;}
.tooshort img{float:right; margin-left:9px;}
.byclicking{font-size:14px; font-family:'open_sansregular'; color:#5b5b5b; letter-spacing:-0.5px; text-align:center; padding-top:24px; padding-bottom:17px; clear: both;}
.byclicking a{color:#5b5b5b; text-decoration:underline}
.byclicking a:hover{color:#5b5b5b; text-decoration:none}
.verify{background:url(../images/verify.jpg) repeat-x; width:444px; font-family:'open_sansregular'; font-weight:bold; text-transform:uppercase; line-height:42px; border:1px solid #413f3f; -webkit-border-radius:5px; border-radius:5px; height:42px; color:#fff; text-shadow:0 -1px #444444; cursor:pointer; margin-left:80px; margin-bottom:42px}
.boxshadow{text-align:center;}
/*lightbox css*/
.custombox{position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:9999}
.customboxnew{position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:9999}

.blackarea{background:url(../images/blackbg.png) repeat; position:absolute; left:0px; top:0px; height:auto; width:100%; min-width:100%; min-height:100%; z-index:999}
.lightbox{width:764px; border:3px solid #fff; -webkit-box-shadow:0px 5px 15px 0px rgba(0, 0, 0, 0.8); box-shadow:0px 5px 15px 0px rgba(0, 0, 0, 0.8); -webkit-border-radius:5px; border-radius:5px; position:absolute; margin:auto; left:50%; margin-left:-382px; z-index:9999; height:337px; margin-top:-168px; top:50%}
.thankyou{background:url(../images/lightboxbg.jpg) no-repeat center top; width:764px; height:280px; position:relative; padding-top:60px}
.thankyou h3{font-size:40px; color:#fefefe; text-shadow:0 0 2px #215980; background:url(../images/mail.png) no-repeat; padding-left:78px; margin-left:64px; font-family:'futura_bk_btbook'; height:60px; font-weight:normal; padding-bottom:8px;}
.dealsicon h3{background:url(../images/pro-deal_icon.png) no-repeat 15px 0;
    font-size: 24px;
    line-height: 30px;
    margin-left: 20px;
    padding-bottom: 5px;
    padding-left: 55px;
    padding-top: 2px;}
.thankyou h4{font-size:20px; color:#c7e8ff; font-family:'open_sansregular'; font-weight:normal; margin-left:144px; line-height:30px; padding-bottom:18px; letter-spacing:-0.5px;}
.thankyou h4 span{color:#fff;}
.thankyou p{font-size:15px; color:#c7e8ff; font-family:'open_sansregular'; font-weight:normal; margin-left:144px; line-height:30px; letter-spacing:-0.5px; padding-right:80px;}
.thankyou p a{color:#c7e8ff;}
.thankyou p a:hover{color:#fff;}
.closecreatemultiple{position:absolute; right:-15px; top:-15px;}
.close{position:absolute; right:-15px; top:-15px;}
.close_senmailclose{position:absolute; right:-15px; top:-15px;}
.closeregpopup{position:absolute; right:-15px; top:-15px;}
.welcomelightbox{width:914px; border:3px solid #fff; -webkit-box-shadow:0px 5px 15px 0px rgba(0, 0, 0, 0.8); box-shadow:0px 5px 15px 0px rgba(0, 0, 0, 0.8); -webkit-border-radius:5px; border-radius:5px; position:absolute; margin:auto; left:50%; margin-left:-457px; z-index:9999; height:351px; margin-top:-175px; top:50%}
.welcomebox{background-color:#1f7ab9; width:914px; /*height:280px;*/ position:relative; padding-top:0px; height:351px}
.welcomebox h3{font-family:'open_sansregular'; font-size:30px; color:#ddf1ff; text-align:center; line-height:95px; background:url(../images/lightbox_topbg.jpg) repeat-x; font-weight:normal; height:97px;} 
.mobileweb{ padding-left:40px; padding-top:34px;}
.webaddress{background-color:#4b4b4b; height:102px; border:1px solid #323232; border-left:0px; float:left; width:740px;}
.webaddressbox{float:left; padding-top:28px; padding-left:20px;}
.webaddressbox span{background:url(../images/leftarrow.png) repeat; width:10px; height:20px; float:left; margin-top:15px; position:relative; left:1px; z-index:5}
.webtextbox{height:45px; width:511px; background-color:#fff; border:1px solid #373637; -webkit-border-radius:10px; border-radius:10px; padding:0 10px; line-height:45px; margin-right:11px; font-family: 'open_sansregular'; font-size:20px; color:#575757;}
.check{background:url(../images/check_btn.jpg) repeat-x; height:45px; cursor:pointer; border:1px solid #0a80ca; -webkit-border-radius:10px; border-radius:10px; float:left; width:144px; font-family:'open_sanssemibold'; color:#fff; font-size:22px; text-shadow:1px 1px #2773a7; margin-top:28px; line-height:45px}
.welcomebox p{font-family:'open_sanslight'; font-size:16px; color:#fff; text-align:center; padding-top:14px; padding-bottom:24px;}
.welcomebox p span{color:#b3e0ff; font-size:14px;}
.welcomebox ul{list-style:none; text-align:center}
.welcomebox ul li{font-family:'open_sansregular'; font-size:14px; padding:0 18px; display:inline}
.welcomebox ul li a{color:#fff; text-decoration:underline;}
.welcomebox ul li a:hover{color:#fff; text-decoration:none;}

/*personal css*/
.personal{ padding-left:5px; padding-top:5px; padding-right:4px;}
.personalbannerarea{position:relative; width:990px;}
.personal_banner{}
.personal_banner img{display:block;}
.personal_social{position:absolute; bottom:0px; left:0px; background:url(../images/social_bg.png) repeat; height:66px; width:100%}
/*.socialicons{float:right; padding-right:37px; padding-top:15px;}
a.facebook{background:url(../images/social.png) no-repeat; width:38px; height:39px; display:block; float:left; margin-right:14px;}
a:hover.facebook{background:url(../images/social.png) no-repeat 0 -39px;}
a.googleplus{background:url(../images/social.png) no-repeat; width:38px; height:39px; display:block; float:left; margin-right:14px;}
a:hover.googleplus{background:url(../images/social.png) no-repeat 0 -39px;}
a.instagram{background:url(../images/social.png) no-repeat; width:38px; height:39px; display:block; float:left; margin-right:14px;}
a:hover.instagram{background:url(../images/social.png) no-repeat 0 -39px;}
a.twitter{background:url(../images/social.png) no-repeat -52px 0; width:38px; height:39px; display:block; float:left; margin-right:14px;}
a:hover.twitter{background:url(../images/social.png) no-repeat -52px -39px;}
a.flickr{background:url(../images/social.png) no-repeat -104px 0; width:38px; height:39px; display:block; float:left; margin-right:14px;}
a:hover.flickr{background:url(../images/social.png) no-repeat -104px -39px;}
a.yelp{background:url(../images/social.png) no-repeat -156px 0; width:38px; height:39px; display:block; float:left; margin-right:14px;}
a:hover.yelp{background:url(../images/social.png) no-repeat -156px -39px;}
a.pinterest{background:url(../images/social.png) no-repeat -208px 0; width:38px; height:39px; display:block; float:left;}
a:hover.pinterest{background:url(../images/social.png) no-repeat -208px -39px;}*/
.socialicons{float:right; padding-right:37px; padding-top:15px;}
a.facebook{background:url(../images/social.png) no-repeat; width:38px; height:39px; display:block; float:left; margin-left:14px;}
a:hover.facebook{background:url(../images/social.png) no-repeat 0 -39px;}
a.twitter{background:url(../images/social.png) no-repeat -52px 0; width:38px; height:39px; display:block; float:left; margin-left:14px;}
a:hover.twitter{background:url(../images/social.png) no-repeat -52px -39px;}
a.flickr{background:url(../images/social.png) no-repeat -104px 0; width:38px; height:39px; display:block; float:left; margin-left:14px;}
a:hover.flickr{background:url(../images/social.png) no-repeat -104px -39px;}
a.yelp{background:url(../images/social.png) no-repeat -156px 0; width:38px; height:39px; display:block; float:left; margin-left:14px;}
a:hover.yelp{background:url(../images/social.png) no-repeat -156px -39px;}
a.pinterest{background:url(../images/social.png) no-repeat -208px 0; width:38px; height:39px; display:block; float:left; margin-left:14px;}
a:hover.pinterest{background:url(../images/social.png) no-repeat -208px -39px;}
a.linkedin{background:url(../images/social.png) no-repeat -261px 0; width:38px; height:39px; display:block; float:left; margin-left:14px;}
a:hover.linkedin{background:url(../images/social.png) no-repeat -261px -39px;}
a.tumblr{background:url(../images/social.png) no-repeat -313px 0; width:38px; height:39px; display:block; float:left; margin-left:14px;}
a:hover.tumblr{background:url(../images/social.png) no-repeat -313px -39px;}
a.youtube{background:url(../images/social.png) no-repeat -365px 0; width:38px; height:39px; display:block; float:left; margin-left:14px;}
a:hover.youtube{background:url(../images/social.png) no-repeat -365px -39px;}
a.foursquare{background:url(../images/social.png) no-repeat -417px 0; width:38px; height:39px; display:block; float:left; margin-left:14px;}
a:hover.foursquare{background:url(../images/social.png) no-repeat -417px -39px;}
a.instagram{background:url(../images/social.png) no-repeat -462px 0; width:38px; height:39px; display:block; float:left; margin-left:14px;}
a:hover.instagram{background:url(../images/social.png) no-repeat -462px -39px;}
a.googleplus{background:url(../images/social.png) no-repeat -507px 0; width:38px; height:39px; display:block; float:left; margin-left:14px;}
a:hover.googleplus{background:url(../images/social.png) no-repeat -507px -39px;}

.personal_data{position:relative; min-height:300px;}
.personal_img{padding:8px; background-color:#fff; -webkit-box-shadow:0px 0px 2px 0px rgba(0, 0, 0, 0.4); box-shadow:0px 0px 2px 0px rgba(0, 0, 0, 0.4); /*-webkit-border-radius:100px; border-radius:100px; height:147px;*/ width:147px; /*overflow: hidden;*/ margin: auto;}
.personal_img img{display:block; width:100%; /*-webkit-border-radius:150px; border-radius:150px;*/ overflow: hidden;}
/*.personal_img span{-webkit-border-radius:100px; border-radius:100px; overflow: hidden; display: block; /*height: 147px; width: 147px;}*/
.personalimgare{width:167px; position:absolute; top:-79px; left:35px;}
/*.personalimgare h2{font-family:'open_sansregular'; font-size:18px; color:#2a2a2a; text-transform:uppercase; text-align:center; position:relative; padding-top:8px;text-overflow:ellipsis;overflow:hidden;}*/
.personalimgare h2 {
    color: #2A2A2A;
    font-family: 'open_sansbold';
    font-size: 18px;
    padding-top: 8px;
    position: relative;
    text-align: center;
	text-overflow:ellipsis;
	overflow:hidden;
    text-transform: uppercase;
}
.personalimgare h2 span{background:url(../images/border.jpg) no-repeat center bottom;}
.personal_details{ padding-left:230px/*212px*/; padding-top:18px; margin-right:35px; overflow: hidden;}/*95*/
.personal_titlearea{padding-left:3px; border-bottom:1px solid #dbdbdb; padding-bottom:12px; }
.personal_title{ float:left}
/*.personal_title h2{font-family:'open_sansregular'; font-size:16px; color:#2a2a2a;}*/
.personal_title h1 span{background:url(../images/border.jpg) no-repeat 2px bottom;}
.personal_title h1 {
    color: #2A2A2A;
    font-family: 'open_sansbold';
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.personal_title h2 {
    color: #2A2A2A;
    font-family: 'open_sansregular';
    font-size: 15px;
	overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-weight: normal;
}

.personal_title h3{font-family: 'open_sanslight_italic'; font-size:14px; color:#a4a4a4;}
.personal_title h3 a{color:#62bdef; text-decoration:underline}
.personal_title h3 a:hover{text-decoration:none;}
.personal_title h4{font-family:'open_sanslight'; font-size:14px; color:#5c5c5c;}
.personal_detail{padding-top:24px;}
.personal_detail p{font-family: 'open_sanssemibold_italic'; font-size:18px; color:#3f3f3f; padding-bottom:22px; line-height:22px;}
.call_email{float:right; padding-right:5px;}
.call_email a{padding-left:10px;/*25*/ display:inline-block; vertical-align:middle;}
.imageshadow img{padding:0.5%; width:99%; display:block; }
.imageshadow{-webkit-box-shadow:0px 2px 3px 0px rgba(0, 0, 0, 0.4); box-shadow:0px 2px 3px 0px rgba(0, 0, 0, 0.4); -webkit-border-radius:5px; border-radius:5px;}
.promotions{text-align:center; padding-top:37px; margin-bottom:30px;}
.promotions a{font-family: 'oswaldbook'; color:#fff; height:42px; line-height:42px; padding:0 26px 0 30px; display:inline-block; background-color:#1e79b9; -webkit-box-shadow: inset 0px 1px 1px 0px rgba(8, 30, 46, 1);box-shadow:inset 0px 1px 1px 0px rgba(8, 30, 46, 1); text-align:center; -webkit-border-radius:20px; border-radius:20px; font-size:20px;}
.promotions a span{background:url(../images/rightarrow.png) no-repeat right center; display:block; padding-right:35px;}
.address_maparea{float:right; position:relative; padding-top:15px; margin-right:0px;}
.address_mapicon{background:url(../images/map_icon.png) no-repeat; width:38px; height:39px; display:block;}
.address_mapicon.active{background:url(../images/map_icon_hover.png) no-repeat;}
.address_map{position:absolute; width:460px; height:250px; padding:4px; background-color:#fff; left:-153px; top:-250px; z-index:5; visibility: hidden;}
.address_map span{position:absolute; bottom:-11px; left:165px;}
.address_map iframe{width:460px; height:250px;}
/*.gmnoprint{display:none!important}*/
.error{color:#FF0000; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; padding-top:5px; float:left}
.error_createpopup{color:#FF0000; font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:bold; padding-top:5px;}
.counterinfo{color:#0e5180; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; padding-top:5px; float:left}
.tabarea{padding-top:46px; padding-left:9px; padding-right:9px;}
.socialiconarea{float:left; padding-top:65px; padding-left:5%/*54px*/; width:95%/*414px*/; padding-bottom:40px;}
.minwidth{width:42%;}
.socialiconarea ul{ list-style:none;}
/*.socialiconarea ul li{float:left; background-color:#f0f0f0; padding:6px; -webkit-border-radius:100px; border-radius:100px; margin-right:30px; margin-bottom:22px;}
.socialiconarea ul li img{display:block;}
.socialiconarea ul li:hover img{-webkit-box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); -webkit-border-radius:100px; border-radius:100px;}
.socialiconarea ul li a.active img{-webkit-box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); -webkit-border-radius:100px; border-radius:100px;}
.socialiconarea ul li a.completed img{-webkit-box-shadow:0px 0px 6px 0px rgba(80, 200, 240, 0.8); box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); -webkit-border-radius:100px; border-radius:100px;}
*/
.socialiconarea ul li{float:left; margin-right:30px; margin-bottom:22px;}
.socialiconarea ul li a{background-color:#f0f0f0; padding:6px; -webkit-border-radius:100px; border-radius:100px; display:block}
.socialiconarea ul li img{display:block;}
.socialiconarea ul li a:hover img{-webkit-box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); -webkit-border-radius:100px; border-radius:100px;}
.socialiconarea ul li a.active img{-webkit-box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); -webkit-border-radius:100px; border-radius:100px;}
.socialiconarea ul li a.completed{-webkit-border-radius:100px; border-radius:100px; background-color:#5ca7dc}
.socialdetails{float:right; width:43%/*430px*/; min-height:543px; background-color:#f1f9ff; padding:3% 4% 0 /*25px 35px 0 35px*/; position:relative; border:1px solid #b5c6d2; margin-top:12px; margin-right:12px; margin-bottom:15px; padding-bottom: 15px!important;}
.leftarrow{position:absolute; left:-25px; top:57px;}
.socialdetails h2{font-family:'open_sanssemibold'; text-transform:uppercase; color:#000; background:url(../images/addsocial.png) no-repeat left 0; padding-left:70px; line-height:38px; padding-bottom:10px; border-bottom:1px solid #d4edff; font-size:16px;}
.socialdata{padding-top:14px;}
.socialdata p{font-size:14px; font-family:'open_sanslight'; color:#000; line-height:22px; padding-bottom:22px;}
.socialdata h3{font-size:14px; font-family:'open_sanssemibold'; color:#000; line-height:22px; padding-bottom:22px; overflow: hidden; text-overflow: ellipsis;}
.social_textbox{position:relative; margin-bottom: 18px;}
.social_textbox label{position:absolute; left:3%; color:#767676; font-size:12px; font-family:'open_sanssemibold_italic'; z-index:5; line-height:37px;}
.social_textbox input{width:62%; height:37px; line-height:37px; border:1px solid #9a9a9a; -webkit-border-radius:5px; border-radius:5px; padding:0 3%; color:#767676; font-size:12px; font-family:'open_sanssemibold_italic'; overflow: hidden;}
.twobuttons{padding-top:32px;}
.twobuttons .error{clear:both;}
.authorize{background:url(../images/check_btn.jpg) repeat-x; border:1px solid #0a80ca; -webkit-border-radius:5px; border-radius:5px; padding:0 25px; float:left; display:block; height:42px;/*43*/ line-height:42px; color:#fff; text-shadow:0 -1px #347aaa; font-family:'open_sansbold'; text-transform:uppercase; font-size:16px; margin-right:18px; cursor:pointer}
.cancel{background:url(../images/verify.jpg) repeat-x; border:1px solid #413f3f; -webkit-border-radius:5px; border-radius:5px; padding:0 25px; float:left; display:block; height:42px; line-height:42px; color:#fff; text-shadow:0 -1px #434343; font-family:'open_sansbold'; text-transform:uppercase; font-size:16px; cursor:pointer;}
.delete_social{background:url(../images/verify.jpg) repeat-x; border:1px solid #413f3f; -webkit-border-radius:5px; border-radius:5px; padding:0 25px; float:left; display:block; height:42px; line-height:42px; color:#fff; text-shadow:0 -1px #434343; font-family:'open_sansbold'; text-transform:uppercase; font-size:16px; cursor:pointer; clear: both; margin-top: 18px;}
.socialdata .cancel{margin-right:18px; /*margin-bottom: 18px;*/}
/*.cancle_popup{clear:left; margin-top:18px;}*/

.paymentinfo{width:593px; border:1px solid #b5c6d2; background-color:#f1f9ff; margin:46px auto; padding-top:34px; text-align: center; padding-bottom: 30px;}
.paymentinfo label{font-family:'open_sanssemibold'; color:#000; text-align:right; width:40%; float:left; padding-right:18px; clear:left; line-height:39px; margin-bottom:11px; font-size:14px;}
.paymentinfo label em{font-family:'open_sansbold'; font-style:normal}
.accept{float:left; margin-bottom:10px;}
.cardnumber{width:302px; height:37px; border:1px solid #9a9a9a; background-color:#fff; float:left; font-family:'open_sansregular'; font-size:14px; color:#9d9d9d; padding:0 10px; -webkit-border-radius:5px; border-radius:5px; line-height:37px;}
.creditcard{width:302px; height:37px; border:1px solid #9a9a9a; background-color:#fff; float:left; font-family:'open_sansregular'; font-size:14px; color:#9d9d9d; padding:0 10px; -webkit-border-radius:5px; border-radius:5px; line-height:37px;}
.paymentinfo span{font-size:12px; color:#9d9d9d; font-family:'open_sansregular'; float:left; clear:both; line-height:30px;}
.valid{float:left;  /*height:39px; margin-right:9px; position:absolute; top:8px; left:142px;*/}
.valid .select_box{position:relative; background:#fff; height:37px; float:left; margin-right:1px; font-family:Arial, Helvetica, sans-serif; font-size:12px; -webkit-border-radius:5px; border-radius:5px; border:1px solid #9a9a9a; margin-right:16px;}
.valid .select_box select{position:absolute; left:0px; height:37px; top:0px; opacity:0.01; z-index:10; filter: alpha(opacity = 0.01); font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#7a7a7a;}
.valid .select_box span{display:block; background:#ff0000; z-index:5; position:absolute; right:-1px; top:-1px; background:url(../images/dropdown.png) no-repeat left top; width:42px; height:39px; }
.valid .select_box em{font-size:14px; position:absolute; left:9px; top:0px; color:#9d9d9d;font-style:normal; font-family:'open_sansregular'; line-height:37px;}
.cardbox{float:left;}
.security{float:left; margin-bottom:40px;}
.securitycode{width:122px; height:37px; border:1px solid #9a9a9a; background-color:#fff; float:left; font-family:'open_sansregular'; font-size:14px; color:#9d9d9d; -webkit-border-radius:5px; border-radius:5px; padding:0 10px; line-height:37px;}
.quebig{margin-left:14px; float:left; margin-top:1px;}
.paynow{background:url(../images/check_btn.jpg) repeat-x; border:1px solid #0a80ca; -webkit-border-radius:5px; border-radius:5px; padding:0 20px; display:block; height:43px; line-height:43px; color:#fff; text-shadow:0 -1px #347aaa; font-family:'open_sansbold'; text-transform:uppercase; font-size:16px; cursor:pointer; width:35%; margin:auto; clear:both; margin-bottom:38px;}
.tabbox{min-height:600px; padding-bottom:34px;}

.myaccountpage{ width:595px; margin:auto; margin-top:56px; margin-bottom:44px;}
#tabs{width:100%;list-style:none;margin:0;padding:0}
#tabs li{float:left;margin:0 -25px 0 0}
#tabs a{float:left;position:relative;background:url(../images/tabbg.jpg) repeat-x;text-transform:uppercase;text-decoration:none;color:#fff;border-bottom-color:#777\9;opacity:.3;filter:alpha(opacity=30);height:0;line-height:30px;border-right:25px solid transparent;border-bottom:37px solid #3D3D3D;padding:0 40px}
#tabs a:hover,#tabs a:focus{border-bottom-color:#2ac7e1;opacity:1;filter:alpha(opacity=100)}
#tabs a:focus{outline:0}
#tabs #current{z-index:3;border-bottom:48px solid #3D3D3D;margin-top:-11px;opacity:1;filter:alpha(opacity=100)}

/*Inner tab css*/
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 38px;
    border-bottom: 1px solid #b5c6d2;
    width: 100%;
    padding-right:2px;
}
/*ul.tabs li:first-child{padding-left:65px; margin:0 0 0 -37px}*/
ul.tabs li:first-child{padding-left:25px; margin:0 -33px 0 0px;border-left: 1px solid #0a80ca;}
ul.tabs li {
    float: left;
    margin:0 -30px 0 0;
    cursor: pointer;
    padding-left:65px;
    height: 38px;
    line-height: 37px;
    font-family:'open_sanssemibold';
    font-size:16px;
    /*border-top: 1px solid #b5c6d2;
    border-left: 1px solid #b5c6d2;
    border-bottom: 1px solid #b5c6d2;*/
    background-color: #666;
    color: #fff;
    overflow: hidden;
    padding-right:60px;
    position: relative;
    background:url(../images/tab_title.png) repeat-x right top;
}

/*.tab_last { border-right: 1px solid #b5c6d2; }*/

/*ul.tabs li:hover {
    background-color: #ccc;
    color: #333;
}
*/
ul.tabs li.active {
 color: #333;
 display: block;
 background:url("../images/tab_active.png") no-repeat scroll left top transparent;
 /*background-color: #f1f9ff;
 border-bottom: 1px solid #f1f9ff;*/
 border-left:0px;
 /*width:185px;*/
 height:49px; 
 padding-left:52px;
 padding-right:0px;
 line-height:38px;
 top:1px;
 z-index:1;
 margin-top:-11px;
 margin-left:0px;
 padding-top:0px;
}

ul.tabs li.active span {
    background: url("../images/tab_active.png") no-repeat scroll right -49px transparent;
    display: block;
    padding-top: 11px;
 padding-right:75px;
}

.tab_container {
    border: 1px solid #b5c6d2;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #f1f9ff;
    overflow: auto;
}

.tab_content {
    padding: 27px 53px;
    display: none;
}

.tab_drawer_heading { display: none; }



.accountsetting{}
.person_img{float:left;}
.user_img{border:1px solid #8e8e8e}
.user_img img{display:block;}
.browse{text-align:center; font-size:12px; font-family:'open_sansregular'; line-height:30px;}
.browse a{color:#000; text-decoration:underline;}
.browse a:hover{color:#000; text-decoration:none;}
.person_field{float:left; padding-left:20px;}

.textboxarea1 label{display:block; height:39px; line-height:39px; padding-left:15px; color:#9d9d9d; font-size:14px; font-family:font-family: 'open_sansregular'; position:absolute; z-index:10; overflow: hidden;}
.textboxarea1 label:focus{color:#4b4c4d; font-family:'open_sanssemibold';}
.textboxarea1 input[type="text"], .textboxarea1 input[type="password"]{background-color:#fff; width:452px; height:37px; line-height:37px; padding-left:14px; color:#4b4c4d; font-size:14px; font-family:'open_sansregular'; border:none; border:1px solid #9a9a9a; -webkit-border-radius:5px; border-radius:5px; padding-right:14px;}
.textboxarea1 input[type="text"]:focus, .textboxarea1 input[type="password"]:focus{color:#4b4c4d; font-family:'open_sanssemibold'; -webkit-box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); box-shadow: 0px 0px 6px 0px rgba(78, 185, 244, 0.7);}
.textboxarea1{margin-bottom:11px; clear:both}
.textboxarea1 textarea{background-color:#fff; width:452px; height:100px; line-height:26px; padding-left:14px; color:#4b4c4d; font-size:14px; font-family:'open_sansregular'; border:none; border:1px solid #9a9a9a; -webkit-border-radius:5px; border-radius:5px; padding-right:14px; resize:none;}
.textboxarea1 textarea:focus{color:#4b4c4d; font-family:'open_sanssemibold'; -webkit-box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); box-shadow: 0px 0px 6px 0px rgba(78, 185, 244, 0.7);}

.textboxarea6 label{display:block; height:39px; line-height:39px; padding-left:15px; color:#9d9d9d; font-size:14px; font-family:font-family: 'open_sansregular'; position:absolute; z-index:10; overflow: hidden;}
.textboxarea6 label:focus{color:#4b4c4d; font-family:'open_sanssemibold';}
.textboxarea6 input[type="text"]{background-color:#fff; width:350px; height:37px; line-height:37px; padding-left:14px; color:#4b4c4d; font-size:14px; font-family:'open_sansregular'; border:none; border:1px solid #9a9a9a; -webkit-border-radius:5px; border-radius:5px; padding-right:14px;}
.textboxarea6 input[type="text"]:focus{color:#4b4c4d; font-family:'open_sanssemibold'; -webkit-box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); box-shadow: 0px 0px 6px 0px rgba(78, 185, 244, 0.7);}
.textboxarea6{margin-bottom:11px; clear:both; float: left; padding-right: 10px;}

.textboxarea2 label{display:block; height:39px; line-height:39px; padding-left:15px; color:#9d9d9d; font-size:14px; font-family:font-family: 'open_sansregular'; position:absolute; z-index:10; overflow: hidden;}
.textboxarea2 label:focus{color:#4b4c4d; font-family:'open_sanssemibold';}
.textboxarea2 input{background-color:#fff; width:294px; height:37px; line-height:37px; padding-left:14px; color:#4b4c4d; font-size:14px; font-family:'open_sansregular'; border:none; border:1px solid #9a9a9a; -webkit-border-radius:5px; border-radius:5px; padding-right:14px;}
.textboxarea2 input:focus{color:#4b4c4d; font-family:'open_sanssemibold'; -webkit-box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); box-shadow: 0px 0px 6px 0px rgba(78, 185, 244, 0.7);}
.textboxarea2{margin-bottom:11px;}

.textboxarea7 label{display:block; height:39px; line-height:39px; padding-left:15px; color:#9d9d9d; font-size:14px; font-family:font-family: 'open_sansregular'; position:absolute; z-index:10; overflow: hidden;}
.textboxarea7 label:focus{color:#4b4c4d; font-family:'open_sanssemibold';}
.textboxarea7 input{background-color:#fff; width:215px; height:37px; line-height:37px; padding-left:14px; color:#4b4c4d; font-size:14px; font-family:'open_sansregular'; border:none; border:1px solid #9a9a9a; -webkit-border-radius:5px; border-radius:5px; padding-right:14px;}
.textboxarea7 input:focus{color:#4b4c4d; font-family:'open_sanssemibold'; -webkit-box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); box-shadow: 0px 0px 6px 0px rgba(78, 185, 244, 0.7);}
.textboxarea7{margin-bottom:11px; float: left; padding-right: 10px;}

.person_otherdetails{ clear:both}
.textboxarea3 label{display:block; height:39px; line-height:39px; padding-left:15px; color:#9d9d9d; font-size:14px; font-family:font-family: 'open_sansregular'; position:absolute; z-index:10; overflow: hidden;}
.textboxarea3 label:focus{color:#4b4c4d; font-family:'open_sanssemibold';}
.textboxarea3 input{background-color:#fff; width:205px; height:37px; line-height:37px; padding-left:14px; color:#4b4c4d; font-size:14px; font-family:'open_sansregular'; border:none; border:1px solid #9a9a9a; -webkit-border-radius:5px; border-radius:5px; padding-right:14px;}
.textboxarea3 input:focus{color:#4b4c4d; font-family:'open_sanssemibold'; -webkit-box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); box-shadow: 0px 0px 6px 0px rgba(78, 185, 244, 0.7);}
.textboxarea3{margin-bottom:11px; float:left; margin-right:12px; display: inline-table;}
.textboxarea4 label{display:block; height:39px; line-height:39px; padding-left:15px; color:#9d9d9d; font-size:14px; font-family:font-family: 'open_sansregular'; position:absolute; z-index:10; overflow: hidden;}
.textboxarea4 label:focus{color:#4b4c4d; font-family:'open_sanssemibold';}
.textboxarea4 input{background-color:#fff; width:116px; height:37px; line-height:37px; padding-left:14px; color:#4b4c4d; font-size:14px; font-family:'open_sansregular'; border:none; border:1px solid #9a9a9a; -webkit-border-radius:5px; border-radius:5px; padding-right:14px;}
.textboxarea4 input:focus{color:#4b4c4d; font-family:'open_sanssemibold'; -webkit-box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); box-shadow: 0px 0px 6px 0px rgba(78, 185, 244, 0.7);}
.textboxarea4{margin-bottom:11px; float:left; margin-right:12px;}
.fleft{float:left;}
.textboxarea5 label{display:block; height:39px; line-height:39px; padding-left:15px; color:#9d9d9d; font-size:14px; font-family:'open_sansregular'; position:absolute; z-index:10; overflow: hidden;}
.textboxarea5 label:focus{color:#4b4c4d; font-family:'open_sanssemibold';}
.textboxarea5 input{background-color:#fff; width:123px; height:37px; line-height:37px; padding-left:14px; color:#4b4c4d; font-size:14px; font-family:'open_sansregular'; border:none; border:1px solid #9a9a9a; -webkit-border-radius:5px; border-radius:5px; padding-right:14px;}
.textboxarea5 input:focus{color:#4b4c4d; font-family:'open_sanssemibold'; -webkit-box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); box-shadow: 0px 0px 6px 0px rgba(78, 185, 244, 0.7);}
.textboxarea5{margin-bottom:11px; float:left; margin-right:9px; display: inline-table;}
.lastbox{margin-right:0px;}
.delete{float:left; padding-top:21px;}
.delete p{font-family:'open_sanssemibold'; font-size:14px;}
.delete p a{color:#000; background:url(../images/delete.png) no-repeat left top; line-height:27px; padding-left:30px; display:block}
.delete p a:hover{color:red}
.updatehere{float:right; margin-top:13px; float:right; margin-right:6px;}
.update{background:url(../images/check_btn.jpg) repeat-x; border:1px solid #0a80ca; -webkit-border-radius:5px; border-radius:5px; padding:0 25px; float:left; display:block; height:43px; line-height:43px; color:#fff; text-shadow:0 -1px #347aaa; font-family:'open_sansbold'; text-transform:uppercase; font-size:16px; margin-right:0px; cursor:pointer}
.backaccount{background:url(../images/check_btn.jpg) repeat-x; border:1px solid #0a80ca; -webkit-border-radius:5px; border-radius:5px; padding:0 15px; float:left; display:block; height:35px; line-height:35px; color:#fff; text-shadow:0 -1px #347aaa; font-family:'open_sansbold'; text-transform:uppercase; font-size:13px; margin-right:0px; cursor:pointer}
.cancel2{background:url(../images/verify.jpg) repeat-x; border:1px solid #413f3f; -webkit-border-radius:5px; border-radius:5px; padding:0 25px; float:left; display:block; height:43px; line-height:43px; color:#fff; text-shadow:0 -1px #434343; font-family:'open_sansbold'; text-transform:uppercase; font-size:16px; cursor:pointer}

.logoutarea{float:right; padding-bottom:10px;}
.upgrade{float:left; font-size:14px; color:#4b4b4b; font-family:'open_sanssemibold'; background:url(../images/upgrade.png) no-repeat left center; line-height:24px; padding-left:25px;}
.logout{margin-left:18px; float:left}
.dropdownbox{border:1px solid #C1C1C1; padding:1px 3px 3px}
.dropdownbox select{background: transparent; border:none; font-family: 'open_sanssemibold'}
#horizontalTab{clear:both}
.tabareainner{padding-top:22px; padding-left:9px; padding-right:9px;}
.username{text-align:center; clear:both; padding-bottom:18px;}
.username p{font-family:'open_sanssemibold'; font-size:16px; color:#000; background:url(../images/userlogo.png) no-repeat; height:40px; padding-left:94px; display:inline-block; line-height:40px;}

.dealarea{ padding:50px;}
.dealarea h3{background:url(../images/deal.png) no-repeat; line-height:29px; padding-left:30px; font-family:'open_sanssemibold'; font-size:14px; color:#000; margin-bottom:20px;}
.textareabox{background-color:#fff; width:96%; height:150px; line-height:24px; padding:1% 2%; color:#4b4c4d; font-size:14px; font-family:'open_sansregular'; border:none; border:1px solid #9a9a9a; -webkit-border-radius:5px; border-radius:5px; resize:none; margin-bottom:18px;}
.textareabox:focus{color:#4b4c4d; font-family:'open_sanssemibold'; -webkit-box-shadow:0px 0px 6px 0px rgba(78, 185, 244, 0.7); box-shadow: 0px 0px 6px 0px rgba(78, 185, 244, 0.7);}
.dealarea .textareabox{margin-bottom:0px;}

.dealhere{float:right; margin-top:13px;}
.businesstab{padding:27px 53px;}
/*ul.tabs2 li.active{color:#333;display:block;background:url(../images/tab_active.png) no-repeat scroll 0 0 transparent;border-left:0;width:185px;height:38px;padding-left:52px;padding-right:0;line-height:38px;top:1px;z-index:1;margin-top:-11px;margin-left:0;padding-top:11px;cursor:pointer;float:left;font-family:open_sanssemibold;font-size:16px;overflow:hidden;position:relative}*/
ul.tabs2 li {
    float: left;
    margin:0 -30px 0 0;
    cursor: pointer;
    padding-left:65px;
    height: 38px;
    line-height: 37px;
    font-family:'open_sanssemibold';
    font-size:16px;
    background-color: #666;
    color: #fff;
    overflow: hidden;
    padding-right:60px;
    position: relative;
    background:url(../images/tab_title.png) repeat-x right top;
}
ul.tabs2 li.active {
 color: #333;
 display: block;
 background:url("../images/tab_active.png") no-repeat scroll left top transparent;
 border-left:0px;
 height:49px; 
 padding-left:52px;
 padding-right:0px;
 line-height:38px;
 top:1px;
 z-index:1;
 margin-top:-11px;
 margin-left:0px;
 padding-top:0px;
}

ul.tabs2 li.active span {
    background: url("../images/tab_active.png") no-repeat scroll right -49px transparent;
    display: block;
    padding-top: 11px;
 padding-right:75px;
}
ul.tabs2{float:left;list-style:none;height:38px;border-bottom:1px solid #b5c6d2;width:100%;margin:0;padding:0 2px 0 0}
.business_img{}
.business_banner{border:0px solid #8e8e8e; width:98.5%}
.business_img img{display:block; width:100%}
.brandlogoarea{ text-align: center;}
.Brandlogo{text-align: center;}
.Brandlogo img{ width:auto; display: inline;}


.myplan{}
.myplan h2{font-family:'open_sanssemibold'; font-size:24px; float:left; color:#0E5180}
.myplan h5{font-family:'open_sanssemibold'; font-size:14px; float:right; padding-top:10px; color:#555}
.packages{border-top:1px solid #999; margin-top:5px; padding-top:10px; clear:both; float:left; width:100%}
.package{float:left; padding-bottom:55px; width:50%}
.package h3{padding-left:40px; line-height:24px; color:#333; font-weight:normal; font-family:'open_sanssemibold'; font-size:18px;}
.package ul{list-style:none; padding-top:10px;}
.package ul li{font-family: 'open_sansregular'; font-size:14px; line-height:30px; color:#333}
.upgradebtn{background:url(../images/check_btn.jpg) repeat-x; border:1px solid #0a80ca; -webkit-border-radius:5px; border-radius:5px; padding:0 25px; float:left; display:block; height:43px; line-height:43px; color:#fff; text-shadow:0 -1px #347aaa; font-family:'open_sansbold'; text-transform:uppercase; font-size:16px; cursor:pointer; margin-top:10px;}
.socialcommerce{background:url(../images/socialblack_icons.png) no-repeat center left;}
.commercial{background:url(../images/commercial.png) no-repeat center left;}
/*.alert-success, .info{text-align: center;padding-top: 40px;font-family: 'open_sanssemibold';color: #0e5180;font-size: 18px;}*/
.alert-success, .info{color:#0E5180;font-family:'open_sanssemibold';font-size:18px;padding-top:32px;text-align:center;width:100%;z-index:5555; position:absolute}/*position:absolute;*/
.logout_alert{color:#0E5180;font-family:'open_sanssemibold';font-size:18px;padding-top:32px;text-align:center;width:100%;/*z-index:5555;*/ position:absolute}/*position:absolute;*/

/*Done by - Bhavesh Khnapara*/
/*.circular {   width: 147px;height: 147px;border-radius: 75px;-webkit-border-radius: 75px;-moz-border-radius: 75px;}*/
.staticarea{ width:94%; padding:30px 3% 0 3%;}
.staticarea h2{font-family:'open_sanssemibold'; font-size:24px; line-height:24px; padding-bottom:20px; color:#222}
.staticarea p{font-family:'open_sansregular'; font-size:14px; line-height:24px; padding-bottom:24px; color:#575757}
.browse{padding-top: 10px;}

/*New css*/
.browse{padding-top: 10px; /*float: left;*/}
.imgsize{/*float: right;*/ font-family: 'open_sanssemibold'; font-size: 13px; color: #999; line-height: 30px;  text-align: center;}
.Brandlogoarea{padding-top: 20px; padding-bottom: 20px;}
.minheight{min-height: 600px;}
.staticarea{ width:94%; padding:30px 3% 0 3%;}
.staticarea h2{font-family:'open_sanssemibold'; font-size:24px; line-height:24px; padding-bottom:20px; color:#222;text-transform:capitalize;}
.staticarea p{font-family:'open_sansregular'; font-size:14px; line-height:24px; padding-bottom:24px; color:#575757}
div.jquery-gdakram-tooltip{position:absolute;z-index:10000;top:0px;left:0px;display:none;}
div.jquery-gdakram-tooltip div.content{/*-moz-border-radius:1em;-webkit-border-radius:1em;*/background-color:#fff;width:250px;min-height:20px;float:left;padding:10px; border:1px solid #585858}
div.jquery-gdakram-tooltip div.content h1{font-size:16px;border-bottom:1px solid #C4C4C4;padding-bottom:5px}
div.jquery-gdakram-tooltip div.up_arrow{background:url(images/up_arrow.png) 60px 0 no-repeat;width:100%;height:20px}
div.jquery-gdakram-tooltip div.down_arrow{background:url(../images/dropdownimg.png) 210px 0 no-repeat;width:100%;height:8px; position:relative; top:-1px;}
div.jquery-gdakram-tooltip div.left_arrow{float:left;background:url(images/left_arrow.png) 0 0 no-repeat;width:20px;height:20px;position:relative;top:40px;left:0}
/*div#item_4{position:absolute; top:500px; left:500px;}*/
.tooltiparea{float:right; padding-bottom: 7px;}
.item{float:right;}
div.jquery-gdakram-tooltip p{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; line-height:18px; padding-bottom:10px;}
div.jquery-gdakram-tooltip ul{list-style:none;}
div.jquery-gdakram-tooltip ul li{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; line-height:18px; background:url(../images/right_bluearrow.png) no-repeat left 7px; padding-left:15px;}
.search_error{color:#0E5180; font-family:open_sanssemibold; font-size:18px; margin:32px 0 18px 0px; position:absolute; text-align:center;  width:100%;  /*z-index:5555;*/}

.wowdealpromotions{position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:9999}
/*.wowdealbox{width:500px; border:3px solid #fff; -webkit-box-shadow:0px 5px 15px 0px rgba(0, 0, 0, 0.8); box-shadow:0px 5px 15px 0px rgba(0, 0, 0, 0.8); -webkit-border-radius:5px; border-radius:5px; position:absolute; margin:auto; left:50%; margin-left:-250px; z-index:9999; height:240px; margin-top:-120px; top:50%}
.promotionsbox{background:url(../images/lightboxbg.jpg) no-repeat center top; width:500px; height:190px; position:relative; padding-top:50px}
.promotionsbox p{font-size:15px; color:#c7e8ff; font-family:'open_sansregular'; font-weight:normal; margin-left:30px; line-height:30px; letter-spacing:-0.5px; padding-right:30px;}*/

.wowdealbox{width:764px; border:3px solid #fff; -webkit-box-shadow:0px 5px 15px 0px rgba(0, 0, 0, 0.8); box-shadow:0px 5px 15px 0px rgba(0, 0, 0, 0.8); -webkit-border-radius:5px; border-radius:5px; position:absolute; margin:auto; left:50%; margin-left:-382px; z-index:9999; height:290px; margin-top:-145px; top:50%}
.promotionsbox{background:url(../images/lightboxbg.jpg) no-repeat center bottom; width:764px; height:240px; position:relative; padding-top:50px}
.promotionsbox h3{font-size:40px; color:#fefefe; text-shadow:0 0 2px #215980; background:url(../images/pro-deal_icon.png) no-repeat 15px 0; padding-left:78px; margin-left:64px; font-family:'futura_bk_btbook'; height:65px; font-weight:normal; padding-bottom:8px; line-height:60px;}
.promotionsbox p{font-size:16px; color:#c7e8ff; font-family:'open_sansregular'; font-weight:normal; margin-left:144px; line-height:30px; letter-spacing:-0.5px; padding-right:80px;}
.promotionsbox p a{color:#c7e8ff;}
.promotionsbox p a:hover{color:#fff;}

.disable p{cursor:not-allowed; opacity:0.2;}
.nexttwobuttons {clear: both; padding-bottom: 30px;  padding-top: 32px;  text-align: center;}
.nextauthorize {
    background: url(../images/check_btn.jpg) repeat-x scroll 0 0;
    border: 1px solid #0A80CA;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: none;
    font-family: 'open_sansbold';
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    margin: auto;
    padding: 0 25px;
    text-shadow: 0 -1px #347AAA;
    text-transform: uppercase;
    width: 60px;
}
.gotomyadmin {
    background: url(../images/check_btn.jpg) repeat-x scroll 0 0;
    border: 1px solid #0A80CA;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    float: none;
    font-family: 'open_sansbold';
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    margin: auto;
    padding: 0 25px;
    text-shadow: 0 -1px #347AAA;
    text-transform: uppercase;
    /*width: 170px;*/
}
.logoutbtn{padding-top: 2px;}
.donotdisplay{color:#999; margin-bottom: 10px;}
.citystate .donotdisplay{margin-bottom:0px;}
.toptext{}
.toptext h3{font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:29px; color:#201e22; float:left}
.toptext h3 span{font-size:23px; font-family:'open_sansregular'; font-weight:normal}
.toptext h5{float:left; color:#878787; font-family:'open_sanslight_italic'; background:url(../images/sound.png) no-repeat; padding-left:52px; line-height:24px; margin-left:14px; font-size:23px; margin-top:5px; height:25px;}
.welcome_text p{clear:both; padding-top:15px;}/*font-family: 'segoe_wp_nregular';*/
.welcome_text p span.wordlogo{font-family: 'segoe_wp_nregular'; background:url(../images/wordlogo_border.png) no-repeat center bottom; color:#3a2a40;}
@font-face {
    font-family: 'segoe_wp_nregular';
    src: url('../fonts/segoewpn-webfont.eot');
    src: url('../fonts/segoewpn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoewpn-webfont.woff') format('woff'),
         url('../fonts/segoewpn-webfont.ttf') format('truetype');
    font-weight : normal;
    font-style  : normal;
}
/*audio{width: 46px !important;}*/

#hideme {display: block;}

.alert{text-align: center;
display: block;
font-size: 16px;
color: #0E5180;
font-weight: bold;}

.checkvisible{float: left; line-height: 38px;}

#hideme {display: block;}
.sendmassage{/*position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:9999*/}
.sendblackarea{background:url(../images/blackbg.png) repeat; position:fixed; left:0px; top:0px; height:auto; width:100%; min-width:100%; min-height:100%; z-index:999}
.sendmassagebg{width:764px; border:3px solid #fff; -webkit-box-shadow:0px 5px 15px 0px rgba(0, 0, 0, 0.8); box-shadow:0px 5px 15px 0px rgba(0, 0, 0, 0.8); -webkit-border-radius:5px; border-radius:5px; position:absolute; margin:auto; left:50%; margin-left:-382px; z-index:9999; height:660px; margin-top:-330px; top:50%}
.sendbox{background-color:#1f7ab9; width:764px; position:relative; padding-top:0px; height:660px}
.white_logo{text-align:center; background:url(../images/lightbox_topbg.jpg) repeat-x; height:71px; padding-top:26px;}
.sendmsg{padding-top:25px; width:540px; margin:auto}
.sendmsg h5{font-family:'open_sanslight_italic'; font-size:14px; text-align:center; color:#fff; padding-bottom:27px;}
.sendmsg h5 span{border-bottom:1px solid #fff;}
.sendmsg label{text-align:right; font-size:16px; color:#fff; font-family:'open_sanssemibold'; padding-right:13px; float:left; clear:left; margin-bottom:22px; width:115px; line-height:37px;}
.sendtextbox{border:1px solid #373637; background-color:#fff; height:35px; border-radius:10px; -webkit-border-radius:10px; float:left; width:390px; padding:0 5px; font-family:'open_sansregular'; font-size:14px;}
.sendtextarea{border:1px solid #373637; background-color:#fff; height:110px; border-radius:10px; -webkit-border-radius:10px; float:left; width:390px; padding:5px; font-family:'open_sansregular'; font-size:14px; resize:none}
.minimum{float:left; padding-left:134px; font-family:'open_sansregular'; color:#fff; font-size:13px}
.verification{width:330px; margin-left:125px; margin-top:15px;}
.verification p{font-size:14px; color:#fff; font-family:'open_sanssemibold'; text-align:right; float:left; padding-right:14px; width:155px; line-height:21px;}
.verification h4{font-family:'open_sansbold'; float:left; width:62px; text-align:center; font-size:16px; color:#fff; font-weight:normal}
.verificationbox{width:150px; height:30px; border:1px solid #0b4d7a; font-family:'open_sansregular'; text-align:center; font-size:14px; color:#000}
.sendbtn{background:url(../images/check_btn.jpg) repeat-x; height:45px; cursor:pointer; border:1px solid #002d49; -webkit-border-radius:10px; border-radius:10px; float:left; width:144px; font-family:'open_sanssemibold'; color:#fff; font-size:22px; text-shadow:1px 1px #2773a7; margin-top:25px; line-height:45px; margin-left:130px}

.calltool{float: none; display: inline-block; padding-bottom: 0px; vertical-align: bottom;}
.responsivebox{position:relative; clear:both}
.sendmsg .error{position:absolute; top:34px; left:132px;}
.textresponsivebox{position:relative; clear:both}
.sendmsg .textresponsivebox .error{position:absolute; top:121px; left:355px;}
.responsivecaptcha{position:relative; clear:both}
.sendmsg .responsivecaptcha .error{position:absolute; top:34px; left:8px; padding-top:0px;}

.alert-message{color:#FFFFFF; display:block; font-weight:bold; padding-bottom:10px; text-align:center; width:100%;}
#social_image > a{bottom:-1px; position:absolute; right:-1px;}
#social_image{position:relative;}
.check_disable {
    background: url("../images/check_dis_btn.jpg") repeat-x!important;
    border: 1px solid #313131!important;
text-shadow: 1px 1px #333333!important;
}
.checkvisible2{float: left; line-height: 28px; padding-top: 16px; padding-bottom: 12px; font-family: 'open_sanssemibold'; font-size: 14px;}
.checkvisible3{float: left; line-height: 28px; font-family: 'open_sanssemibold'; font-size: 14px;}
.phoneimg{background: url(../images/call_icon.png) no-repeat; height: 47px; width: 35px;}
.mailicon{background: url(../images/mail_icon.png) no-repeat; width: 44px; height: 34px; margin-left: 10px; padding-left: 0px!important;}


/* New Style */

.round_corner{border: 2px solid #8a8a8a;
width: 52%;
margin: 0 auto;
padding: 5px;
border-radius: 6px;word-spacing: 0.1em;}
#delete_brandlogoImage{background: #FF0038;
color: #FFF;
padding: 5px 42px;
font-size: 13px;
border-radius: 3px;}
.beingprocessed {
    height: 150px;
    margin-top: -75px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 100%;
}
.beingprocessed .update{float: none; margin:auto;}